Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Lock JRuby builds on Travis CI to i18n-1.2.x (#7437)
  Gemfile
Owners: @jekyll/stability

Include docs for `{{ page.collection }}` (#7430)
  docs/_data/jekyll_variables.yml
Owners: @jekyll/documentation

Update history to reflect merge of #7430 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Test with the new Ruby v2.6 (#7438)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #7438 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.62.x (#7449)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7449 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Favor if-unless modifier when single-line body
  Gemfile
Owners: @jekyll/stability

fix warning in Jekyll::Renderer#layouts (#7448)
  lib/jekyll/renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #7448 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Dont write static files from unrendered collection (#7410)
  features/collections.feature
  lib/jekyll/static_file.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7410 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixed grammar
  docs/_docs/step-by-step/01-setup.md
Owners: @jekyll/documentation

Excerpt handling of custom and intermediate tags (#7382)
  lib/jekyll/excerpt.rb
  test/source/_plugins/custom_block.rb
  test/source/_posts/2018-11-15-excerpt-liquid-block.md
  test/test_excerpt.rb
  test/test_generated_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7382 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Permalink docs typo fixes (#7459)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #7459 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixed unnecessary aticles and pronouns (#7466)
  docs/_docs/community/community.md
Owners: @jekyll/documentation

Update history to reflect merge of #7466 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Grammatical correction (#7464)
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Update history to reflect merge of #7464 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update license year
  LICENSE
Owners: @jekyll/affinity-team-captains

Update LICENSE
  LICENSE
Owners: @jekyll/affinity-team-captains

Output correct class name in custom inspect string
  lib/jekyll/collection.rb
  lib/jekyll/document.rb
  lib/jekyll/excerpt.rb
  test/test_excerpt.rb
Owners: @jekyll/build, @jekyll/stability

Relax version constraint on classifier-reborn gem (#7471)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7471 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update resources.md (#7472)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7472 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: store SSL key and cert in site source (#7473)
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #7473 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(config): add config for update-docs
  .github/config.yml
Owners: @jekyll/affinity-team-captains

Remind user to include gem in the Gemfile on error (#7476)
  lib/jekyll/external.rb
Owners: @jekyll/ecosystem

Update history to reflect merge of #7476 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop to ~> 0.63.1 (#7489)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7489 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use 64Bit Ruby for all builds on AppVeyor
  appveyor.yml
Owners: @jekyll/stability

Minor doc fixes (#7495)
  docs/_docs/step-by-step/04-layouts.md
  docs/_docs/step-by-step/05-includes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7495 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Search Front matter defaults with relative_path (#7261)
  lib/jekyll/page.rb
Owners: @jekyll/build

Update history to reflect merge of #7261 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
