Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

reflect 3.8.5 release
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update posts.md (#7360)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #7360 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

correct faulty merges
  History.markdown
Owners: @jekyll/affinity-team-captains

Add documentation for custom tag blocks (#7359)
  docs/_docs/plugins/tags.md
Owners: @jekyll/documentation

Update history to reflect merge of #7359 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add icons8 to site sponsors
  docs/_data/sponsors.yml
  docs/img/icons8-logo.png
Owners: @jekyll/documentation

add icons8 to readme
  README.markdown
Owners: @jekyll/affinity-team-captains

Added 99inbound's Jekyll post to form resources (#7348)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7348 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: document page.dir and page.name (#7373)
  docs/_data/jekyll_variables.yml
Owners: @jekyll/documentation

Update history to reflect merge of #7373 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

:bug: Fix link to Tidelift (#7377)
  docs/_includes/footer.html
Owners: @jekyll/documentation

Update history to reflect merge of #7377 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

:sparkles: Add a link to OpenCollective backing (#7378)
  docs/_includes/footer.html
Owners: @jekyll/documentation

Update history to reflect merge of #7378 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(deps): upgrade liquid-c to v4.0 (#7375)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7375 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove installation instructions with Homebrew (#7381)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #7381 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: use current macOS Ruby versions
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Fix dead link and misleading prose (#7383)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #7383 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix content management section (#7385)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7385 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Only read layouts from source_dir or theme_dir (#6788)
  lib/jekyll/readers/layout_reader.rb
  test/test_layout_reader.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6788 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: add Contentul plugin
  docs/pages/resources.md
Owners: @jekyll/documentation

Update excludes for CodeClimate Analyses (#7365)
  .codeclimate.yml
Owners: none

Update history to reflect merge of #7365 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: update CoC to 1.4.1
  CODE_OF_CONDUCT.markdown
  docs/_docs/code_of_conduct.md
  docs/_docs/conduct.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Site: Better Performance (#7388)
  docs/_includes/top.html
  docs/_sass/_docsearch.scss
  docs/_sass/_fonts.scss
  docs/css/screen.scss
  docs/fonts/lato-v14-latin-300.woff
  docs/fonts/lato-v14-latin-300.woff2
  docs/fonts/lato-v14-latin-300italic.woff
  docs/fonts/lato-v14-latin-300italic.woff2
  docs/fonts/lato-v14-latin-700.woff
  docs/fonts/lato-v14-latin-700.woff2
  docs/fonts/lato-v14-latin-700italic.woff
  docs/fonts/lato-v14-latin-700italic.woff2
  docs/fonts/lato-v14-latin-900.woff
  docs/fonts/lato-v14-latin-900.woff2
  docs/fonts/lato-v14-latin-900italic.woff
  docs/fonts/lato-v14-latin-900italic.woff2
  docs/fonts/lato-v14-latin-italic.woff
  docs/fonts/lato-v14-latin-italic.woff2
  docs/fonts/lato-v14-latin-regular.woff
  docs/fonts/lato-v14-latin-regular.woff2
  docs/img/cloudcannon-logo.png
  docs/img/forestry-logo.png
  docs/img/icons8-logo.png
  docs/img/siteleaf-logo.png
  docs/img/tidelift-logo.png
Owners: @jekyll/documentation

Update history to reflect merge of #7388 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Proposed re-wording of Sass note. :) (#7392)
  docs/_docs/assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7392 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Switch to `gem 'wdm', '~> 0.1.1', :install_if => Gem.win_platform?` (#7372)
  docs/_docs/installation/windows.md
  lib/jekyll/commands/new.rb
Owners: @jekyll/documentation, @jekyll/build

Update history to reflect merge of #7372 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Apply ruby official guide documents (#7393)
  docs/_docs/installation/ubuntu.md
Owners: @jekyll/documentation

Update history to reflect merge of #7393 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Fix group_by_exp filter example (#7394)
  docs/_data/jekyll_filters.yml
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
