Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Revert temporary locks on ffi gem for Windows
  Gemfile
  lib/jekyll/commands/new.rb
Owners: @jekyll/stability, @jekyll/build

Disable page excerpts by default (#8222)
  docs/_docs/pages.md
  lib/jekyll/page.rb
  test/test_page.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #8222 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert introduction of PageDrop (#8221)
  docs/_docs/pages.md
  lib/jekyll/drops/page_drop.rb
  lib/jekyll/page.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #8221 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert deletion of PageDrop
  History.markdown
  docs/_docs/pages.md
  lib/jekyll/drops/page_drop.rb
  lib/jekyll/page.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/build, @jekyll/stability

Revert re-introduction of PageDrop
  History.markdown
  docs/_docs/pages.md
  lib/jekyll/drops/page_drop.rb
  lib/jekyll/page.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/build, @jekyll/stability

Expect drive letter only on vanilla windows (#8227)
  test/helper.rb
Owners: @jekyll/stability

Update history to reflect merge of #8227 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace deprecated 'show' command with 'info' (#8235)
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update history to reflect merge of #8235 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Don't generate excerpts for non-html pages (#8234)
  lib/jekyll/page.rb
  test/source/assets/test-styles.scss
  test/test_filters.rb
  test/test_page.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8234 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Including correct Sketch website (#8241)
  docs/_data/showcase.yml
Owners: @jekyll/documentation

Update history to reflect merge of #8241 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Change name to ▲Vercel (#8247)
  docs/_docs/deployment/third-party.md
  docs/_tutorials/convert-site-to-jekyll.md
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #8247 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typo name of repository (#8248)
  docs/pages/resources.md
Owners: @jekyll/documentation

Add language and examples to describe how to use the configuration options. (#8249)
  docs/_docs/configuration/liquid.md
Owners: @jekyll/documentation

Update history to reflect merge of #8249 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update liquid.md (#8250)
  docs/_docs/configuration/liquid.md
Owners: @jekyll/documentation

Update history to reflect merge of #8250 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Make page excerpts consistent with doc excerpts (#8236)
  lib/jekyll/page.rb
  lib/jekyll/page_excerpt.rb
  test/source/assets/test-styles.scss
  test/source/contacts/foo.md
  test/test_filters.rb
  test/test_page.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8236 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

correct typo (#8261)
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Update history to reflect merge of #8261 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow hyperlinks to specific filter documentation (#8231)
  docs/_docs/liquid/filters.md
  docs/_posts/2020-05-27-jekyll-4-1-0-released.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #8231 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.86.x
  .rubocop.yml
  Gemfile
  lib/jekyll/entry_filter.rb
  lib/jekyll/filters.rb
Owners: @jekyll/stability, @jekyll/build

Update link to Netlify step-by-step guide (#8264)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #8264 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Change word (#8265)
  docs/_docs/usage.md
Owners: @jekyll/documentation

Update history to reflect merge of #8265 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release post for v4.1.1 (#8243)
  docs/_posts/2020-06-24-jekyll-4-1-1-released.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #8243 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore: bump to 4.1.1
  History.markdown
  docs/_config.yml
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

chore: generate site
  docs/_docs/history.md
Owners: @jekyll/documentation

Update pointer to special permalink variables for collections (#8274)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #8274 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix 'page 1' special treatment in pagination docs (#8230)
  docs/_docs/pagination.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
