Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Check if entry is a directory once per enumerator (#8177)
  lib/jekyll/entry_filter.rb
Owners: @jekyll/build

Update history to reflect merge of #8177 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove outdated constraint in Gemfile
  Gemfile
Owners: @jekyll/stability

Ease discovery of CLI commands (in their entirety) (#8178)
  docs/_docs/usage.md
Owners: @jekyll/documentation

Update history to reflect merge of #8178 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: kramdown options (#8181)
  docs/_docs/configuration/markdown.md
Owners: @jekyll/documentation

Remove sudo from Travis CI tutorial (#8187)
  docs/_docs/continuous-integration/travis-ci.md
Owners: @jekyll/documentation

Update history to reflect merge of #8187 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update third-party.md (#8191)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #8191 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: add 21yunbox for deployment (#8193)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #8193 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Filter out exclusively excluded entries sooner (#7482)
  lib/jekyll/entry_filter.rb
  test/test_entry_filter.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7482 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve documentation on tags and categories (#8196)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #8196 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow excerpts to be generated for Page objects (#7642)
  lib/jekyll.rb
  lib/jekyll/drops/page_drop.rb
  lib/jekyll/page.rb
  lib/jekyll/page_excerpt.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7642 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.84.x
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Profile various stages of a site's build process (#6760)
  .rubocop.yml
  lib/jekyll.rb
  lib/jekyll/liquid_renderer/table.rb
  lib/jekyll/profiler.rb
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6760 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add find filters to optimize where-first chains (#8171)
  benchmark/find-filter-vs-where-first-filters.rb
  docs/_data/jekyll_filters.yml
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #8171 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Make number_of_words respect CJK characters (#7813)
  docs/_data/jekyll_filters.yml
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #7813 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add a workflow to build and deploy docs site (#8126)
  .github/actions/bootstrap
  .github/actions/deploy_docs
  .github/workflows/deploy_docs.yml
Owners: @jekyll/affinity-team-captains

Trigger Deploy Docs on push event
  .github/workflows/deploy_docs.yml
Owners: @jekyll/affinity-team-captains

Revert merge of #8126 [skip ci]
  .github/actions/bootstrap
  .github/actions/deploy_docs
  .github/workflows/deploy_docs.yml
Owners: @jekyll/affinity-team-captains

Initialize static files' data hash only if needed (#8188)
  lib/jekyll/static_file.rb
Owners: @jekyll/build

Update history to reflect merge of #8188 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Initialize include-files as Jekyll objects (#8158)
  lib/jekyll.rb
  lib/jekyll/inclusion.rb
  lib/jekyll/site.rb
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #8158 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: fix classifier-reborn link
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

chore(release): v4.1.0 :gem:
  History.markdown
  docs/_config.yml
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Release post of `v4.1.0` (#8209)
  History.markdown
  docs/_docs/history.md
  docs/_posts/2020-05-27-jekyll-4-1-0-released.markdown
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Add atom:link rel="self" to RSS feed template (#8213)
  docs/_tutorials/convert-site-to-jekyll.md
Owners: @jekyll/documentation

Temporarily lock ffi gem to v1.12.x on Windows
  Gemfile
Owners: @jekyll/stability

Temporarily lock ffi gem to v1.12.x on Windows
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Bump RuboCop to v0.85.x (#8223)
  .rubocop.yml
  Gemfile
  lib/jekyll/cleaner.rb
  lib/jekyll/collection.rb
  lib/jekyll/page.rb
  lib/jekyll/tags/include.rb
  lib/jekyll/utils.rb
  test/helper.rb
  test/test_convertible.rb
  test/test_front_matter_defaults.rb
  test/test_kramdown.rb
  test/test_tags.rb
  test/test_theme.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8223 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
