Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #7394 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add vpsservers to sponsors
  docs/_data/sponsors.yml
  docs/_includes/footer.html
  docs/img/vpsserver-logo.png
Owners: @jekyll/documentation

adjust team page listings (#7395)
  docs/pages/team.md
Owners: @jekyll/documentation

Update history to reflect merge of #7395 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update resources.md (#7396)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7396 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update resources.md (#7397)
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7397 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add @ashmaroli to core team listing (#7398)
  docs/pages/team.md
Owners: @jekyll/documentation

Update history to reflect merge of #7398 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.61.x (#7401)
  Gemfile
  test/test_configuration.rb
  test/test_document.rb
  test/test_front_matter_defaults.rb
  test/test_static_file.rb
Owners: @jekyll/stability

Update history to reflect merge of #7401 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @jekyll/affinity-team-captains

link site to sponsor listing in readme (#7405)
  README.markdown
  docs/_data/sponsors.yml
  docs/_includes/footer.html
  docs/img/cloudcannon-logo.png
  docs/img/forestry-logo.png
  docs/img/icons8-logo.png
  docs/img/siteleaf-logo.png
  docs/img/tidelift-logo.png
  docs/img/vpsserver-logo.png
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #7405 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove alt attribute from a tags (#7407)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #7407 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix grammatical error in permalinks.md (#7409)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #7409 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade to Code Climate config v2
  .codeclimate.yml
  .travis.yml
  Gemfile
Owners: @jekyll/stability

docs: update macOS install instructions
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

docs: mention --user-install option
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

chore(ci): test oldest and latest Ruby only (#7412)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #7412 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update ubuntu.md (#7420)
  docs/_docs/installation/ubuntu.md
Owners: @jekyll/documentation

Update history to reflect merge of #7420 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Theme gems: ensure directories aren't symlinks (#7419)
  Gemfile
  lib/jekyll/theme.rb
  test/fixtures/test-theme-symlink/test-theme-symlink.gemspec
  test/test_theme_assets_reader.rb
Owners: @jekyll/stability, @jekyll/ecosystem

Update history to reflect merge of #7419 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

CI: Build stable branches during backport
  .travis.yml
  appveyor.yml
Owners: @jekyll/stability

Documents should be able to render their date (#7404)
  lib/jekyll/drops/document_drop.rb
  lib/jekyll/drops/excerpt_drop.rb
  test/test_document.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7404 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add a custom inspect string for StaticFile objects (#7422)
  lib/jekyll/static_file.rb
  test/test_static_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7422 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce array traversal in Jekyll::Reader (#7157)
  lib/jekyll/reader.rb
Owners: @jekyll/build

Update history to reflect merge of #7157 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

zlib is missing (#7428)
  docs/_docs/installation/ubuntu.md
Owners: @jekyll/documentation

Update history to reflect merge of #7428 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Create symlink only if target is accessible (#7429)
  test/helper.rb
  test/test_layout_reader.rb
Owners: @jekyll/stability

Update history to reflect merge of #7429 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Skip theme-dir-symlink test if on Windows
  test/test_theme_assets_reader.rb
Owners: @jekyll/stability

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
