Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #6770 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update windows doc (#6781)
  docs/_docs/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #6781 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typo (#6969)
  docs/index.html
Owners: @jekyll/documentation

Update history to reflect merge of #6969 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

[#6920] prevent that vendor folder will be committed (#6968)
  lib/site_template/.gitignore
Owners: @jekyll/stability

Update history to reflect merge of #6968 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize computing excerpt's relative_path (#6951)
  lib/jekyll/excerpt.rb
Owners: @jekyll/build

Update history to reflect merge of #6951 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix rendering Liquid constructs in excerpts (#6970)
  features/post_excerpts.feature
  lib/jekyll/excerpt.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6970 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Backported to 3.8-stable, NOT master
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6970 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Loggers should accept both numbers and symbols (#6967)
  lib/jekyll/log_adapter.rb
Owners: @jekyll/build

Update history to reflect merge of #6967 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

bump i18n (#6931)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #6931 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Liquify documents unless published == false (#6959)
  features/collections.feature
  lib/jekyll/collection.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6959 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Liquify documents unless published == false
  features/collections.feature
  lib/jekyll/collection.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6959 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6945 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add version number for group_by_exp doc (#6956)
  docs/_docs/templates.md
Owners: @jekyll/documentation

Update history to reflect merge of #6956 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.8.1
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/_posts/2018-05-01-jekyll-3-8-1-released.markdown
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update instructions for releasing docs Gem (#6975)
  docs/_docs/maintaining/releasing-a-new-version.md
  rake/docs.rake
Owners: @jekyll/documentation, @jekyll/affinity-team-captains

Update history to reflect merge of #6975 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

yajl-ruby update to v1.4.0 (#6976)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6976 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

We are not using Ruby 2.2 anymore (#6977)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6977 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update Windows install docs (#6926)
  docs/_docs/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #6926 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Liquefied link tag (#6269)
  docs/_docs/templates.md
  lib/jekyll/tags/link.rb
  test/test_tags.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #6269 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update quickstart.md
  docs/_docs/quickstart.md
Owners: @jekyll/documentation

Update index.html
  docs/index.html
Owners: @jekyll/documentation

Suggest re-running command with --trace on fail (#6551)
  lib/jekyll/command.rb
  lib/jekyll/commands/build.rb
  lib/jekyll/commands/serve.rb
Owners: @jekyll/build

Update history to reflect merge of #6551 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Drop support for older versions of Rouge (#6978)
  .travis.yml
  Gemfile
  jekyll.gemspec
  lib/jekyll/converters/markdown/redcarpet_parser.rb
  lib/jekyll/tags/highlight.rb
  lib/jekyll/utils.rb
  lib/jekyll/utils/rouge.rb
  test/test_kramdown.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
