Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #6730 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

replace simple regex with a native Ruby method (#6732)
  lib/jekyll/reader.rb
Owners: @jekyll/build

Update history to reflect merge of #6732 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Adding the jekyll-algolia plugin to the list of plugins (#6737)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6737 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update link to Sass example
  docs/_docs/assets.md
Owners: @jekyll/documentation

Update plugins.md (#6750)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6750 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix contribution title in history document
  History.markdown
Owners: @jekyll/affinity-team-captains

Add document on releasing a new version (#6745)
  docs/_docs/maintaining/avoiding-burnout.md
  docs/_docs/maintaining/index.md
  docs/_docs/maintaining/merging-a-pull-request.md
  docs/_docs/maintaining/releasing-a-new-version.md
Owners: @jekyll/documentation

Update history to reflect merge of #6745 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix uncategorized entries in history file
  History.markdown
Owners: @jekyll/affinity-team-captains

Mention Talkyard, a new commenting system for Jekyll and others. (#6752)
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #6752 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove links to Gists (#6751)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6751 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add jekyll-fontello to plugins (#6757)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6757 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update windows.md (#6765)
  docs/_docs/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #6765 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typos (#6764)
  .github/ISSUE_TEMPLATE.md
  .github/first-timers-issue-template.md
  History.markdown
  docs/_docs/history.md
  docs/_docs/themes.md
  test/test_page_without_a_file.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #6764 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

make some PR titles more verbose
  History.markdown
Owners: @jekyll/affinity-team-captains

Test against Ruby 2.5 on AppVeyor (#6668)
  appveyor.yml
Owners: @jekyll/stability

Update history to reflect merge of #6668 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

codeclimate: exclude livereload.js (#6776)
  .codeclimate.yml
Owners: none

Update history to reflect merge of #6776 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix incorrect pull request metadata
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix documentation for `{{ page.excerpt }}` (#6779)
  docs/_docs/posts.md
  docs/_docs/variables.md
Owners: @jekyll/documentation

Update history to reflect merge of #6779 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update docs on permalink configuration (#6775)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #6775 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add a cucumber feature to test link tag (#6777)
  features/link_tag.feature
  features/step_definitions.rb
Owners: @jekyll/stability

Update history to reflect merge of #6777 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Propose fix some typos (#6785)
  History.markdown
  docs/_docs/history.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #6785 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cache the list of documents to be written (#6741)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6741 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix theme gem feature (#6784)
  features/step_definitions.rb
  features/theme_gem.feature
Owners: @jekyll/stability

Update history to reflect merge of #6784 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
