Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update log output for an invalid theme directory (#7679)
  Gemfile
  features/theme.feature
  lib/jekyll/theme.rb
  test/fixtures/test-theme-skinny/_layouts/default.html
  test/fixtures/test-theme-skinny/_layouts/home.html
  test/fixtures/test-theme-skinny/test-theme-skinny.gemspec
Owners: @jekyll/stability, @jekyll/ecosystem

Update history to reflect merge of #7679 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Move updates from generated file to source file
  .github/CONTRIBUTING.markdown
Owners: @jekyll/affinity-team-captains

Generate a new site to reflect unreleased changes
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Move 3.8.6 documentation to the correct location in the History.markdown
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix date
  History.markdown
Owners: @jekyll/affinity-team-captains

Create 3.8.6 release notes
  History.markdown
  docs/_docs/history.md
  docs/_posts/2019-07-02-jekyll-3-8-6-released.markdown
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Regenerate the History file bassed on our new date
  docs/_docs/history.md
Owners: @jekyll/documentation

Update contributing documentation on the website
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Regenerate Contributing
  docs/_docs/contributing.md
Owners: @jekyll/documentation

3.8.6: add release note for 3c06609406
  History.markdown
  docs/_docs/history.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update Jekyll version in docs header
  docs/_config.yml
Owners: @jekyll/documentation

Reduce Array objects generated from utility method (#7749)
  lib/jekyll/utils.rb
Owners: @jekyll/build

Update history to reflect merge of #7749 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Prefer Regexp#match? over String#match?
  History.markdown
  lib/jekyll/tags/include.rb
Owners: @jekyll/affinity-team-captains, @jekyll/build

Add recursive navigation tutorial (#7720)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #7720 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update .gitignore snippet in tutorial (#7748)
  docs/_tutorials/using-jekyll-with-bundler.md
Owners: @jekyll/documentation

Update mime.types (#7756)
  lib/jekyll/mime.types
Owners: @jekyll/build

Update history to reflect merge of #7756 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add default Sass dir
  docs/_docs/configuration/default.md
Owners: @jekyll/documentation

Replace redundant Array#map with Array#each (#7761)
  lib/jekyll/readers/page_reader.rb
Owners: @jekyll/build

Update history to reflect merge of #7761 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix misspelling (#7764)
  docs/_docs/installation/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #7764 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add PathManager class to cache interim paths (#7732)
  lib/jekyll.rb
  lib/jekyll/entry_filter.rb
  lib/jekyll/page.rb
  lib/jekyll/path_manager.rb
  lib/jekyll/reader.rb
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #7732 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: improve how to include rouge stylesheets (#7752)
  docs/_docs/liquid/tags.md
Owners: @jekyll/documentation

Update history to reflect merge of #7752 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix: rubocop offenses (#7769)
  lib/jekyll/excerpt.rb
  lib/jekyll/filters.rb
  lib/jekyll/readers/post_reader.rb
Owners: @jekyll/build

Update history to reflect merge of #7769 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove warnings and fixes for deprecated config (#7440)
  docs/_docs/upgrading/3-to-4.md
  features/markdown.feature
  features/pagination.feature
  features/plugins.feature
  features/rendering.feature
  jekyll.gemspec
  lib/jekyll/configuration.rb
  test/test_configuration.rb
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #7440 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Prepare Jekyll 4.0.0 beta1 (#7716)
  docs/_posts/2019-07-20-jekyll-4-0-0-pre-beta1-released.markdown
  lib/jekyll/version.rb
Owners: @jekyll/documentation, @jekyll/affinity-team-captains

Update history to reflect merge of #7716 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update date
  docs/_posts/2019-08-04-jekyll-4-0-0-pre-beta1-released.markdown
Owners: @jekyll/documentation

Delegate --profile tabulation to `terminal-table` (#7627)
  jekyll.gemspec
  lib/jekyll/liquid_renderer/table.rb
  test/test_liquid_renderer.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7627 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added Bonsai Search (#7543)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7543 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
