Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history regarding cherry-picks from docs-40
  History.markdown
Owners: @jekyll/affinity-team-captains

fix: security bump (#8349)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #8349 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Supress warning issued for redirect pages (#8347)
  features/permalinks.feature
  lib/jekyll/commands/doctor.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8347 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update documentation on third party site (#8352)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #8352 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update default.md with info requested in #8314 (#8353)
  docs/_docs/configuration/default.md
Owners: @jekyll/documentation

Update history to reflect merge of #8353 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Run server with Autoreload (#8355)
  docs/_docs/index.md
Owners: @jekyll/documentation

Clarify description of `safe` option (#8354)
  docs/_docs/configuration/options.md
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #8354 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add post_convert hook to modify HTML content before layout (#8368)
  docs/_docs/plugins/hooks.md
  features/hooks.feature
  lib/jekyll/hooks.rb
  lib/jekyll/renderer.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/ecosystem, @jekyll/build

Update history to reflect merge of #8368 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Configure Performance cops (#8369)
  .rubocop.yml
  test/test_filters.rb
  test/test_front_matter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #8369 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replacing GIT_REPO by GIT_DIR (#8358)
  docs/_docs/deployment/automated.md
Owners: @jekyll/documentation

Update history to reflect merge of #8358 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add missing flag and options doc for build and serve commands (#8365)
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #8365 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop gem to 0.90.0 (#8313)
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/jekyll/commands/doctor.rb
  lib/jekyll/commands/new_theme.rb
  lib/jekyll/document.rb
  lib/jekyll/filters.rb
  lib/jekyll/tags/post_url.rb
  test/helper.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8313 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs Review: Getting Started (#8372)
  docs/_data/docs_nav.yml
  docs/_docs/community/community.md
  docs/_docs/index.md
  docs/_docs/installation.md
  docs/_docs/installation/macos.md
  docs/_docs/installation/other-linux.md
  docs/_docs/installation/ubuntu.md
  docs/_docs/installation/windows.md
  docs/_docs/ruby-101.md
Owners: @jekyll/documentation

Update history to reflect merge of #8372 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add note about rebooting system after installation (#8359)
  docs/_docs/installation/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #8359 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix path matching regex in post_url Liquid tag (#8375)
  features/post_url_tag.feature
  features/support/helpers.rb
  lib/jekyll/tags/post_url.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8375 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use data file to render table at `/docs/configuration/options/#global-configuration` (#8377)
  docs/_data/config_options.yml
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #8377 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Use data file(s) to render table(s) at https://jekyllrb.com/docs/configuration/options/ (#8380)
  docs/_data/config_options.yml
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #8380 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve maintainability of config option data (#8383)
  docs/_data/config_options.yml
  docs/_data/config_options/build.yml
  docs/_data/config_options/global.yml
  docs/_data/config_options/serve.yml
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #8383 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Refactor Jekyll::Utils::Platforms (#7236)
  lib/jekyll/utils/platforms.rb
Owners: @jekyll/build

Update history to reflect merge of #7236 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce string allocations from the `link` tag (#8387)
  lib/jekyll/tags/link.rb
Owners: @jekyll/build

Update history to reflect merge of #8387 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize parsing of parameters in include tag (#8192)
  benchmark/parse-include-tag-params.rb
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #8192 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
