Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update frontmatter.md (#6371)
  docs/_docs/frontmatter.md
Owners: @jekyll/documentation

Update history to reflect merge of #6371 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

elaborate on excluding items from processing (#6136)
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Update history to reflect merge of #6136 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump rubocop to use `v0.50.x` (#6368)
  .rubocop.yml
  Gemfile
  jekyll.gemspec
  lib/jekyll.rb
  lib/jekyll/commands/doctor.rb
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/drops/collection_drop.rb
  lib/jekyll/drops/document_drop.rb
  lib/jekyll/drops/drop.rb
  lib/jekyll/drops/excerpt_drop.rb
  lib/jekyll/drops/jekyll_drop.rb
  lib/jekyll/drops/site_drop.rb
  lib/jekyll/drops/unified_payload_drop.rb
  lib/jekyll/drops/url_drop.rb
  lib/jekyll/reader.rb
  lib/jekyll/readers/collection_reader.rb
  lib/jekyll/renderer.rb
  lib/jekyll/site.rb
  lib/jekyll/tags/highlight.rb
  lib/jekyll/tags/include.rb
  lib/jekyll/tags/link.rb
  lib/jekyll/tags/post_url.rb
  test/test_ansi.rb
  test/test_utils.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6368 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Style lists in tables (#6379)
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6379 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: remove duplicate "available" (#6380)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #6380 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Disable default layouts for Pages with a `layout: none` declaration (#6182)
  features/rendering.feature
  lib/jekyll/convertible.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6182 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

bump Rouge (#6381)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #6381 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow the user to set collections_dir to put all collections under one subdirectory (#6331)
  docs/_docs/collections.md
  docs/_docs/configuration.md
  lib/jekyll/collection.rb
  lib/jekyll/configuration.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #6331 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: GitHub Pages instructions (#6384)
  docs/_docs/github-pages.md
Owners: @jekyll/documentation

Update history to reflect merge of #6384 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

improve documentation for theme-gem installation (#6387)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #6387 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix diff syntax-highlighting (#6388)
  docs/_sass/_pygments.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6388 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade to Cucumber 3.0 (#6395)
  Gemfile
  features/support/formatter.rb
  script/cucumber
Owners: @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #6395 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Update instructions (#6396)
  docs/_docs/installation.md
  docs/_docs/upgrading.md
Owners: @jekyll/documentation

Update history to reflect merge of #6396 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add special styling for code-blocks run in shell (#6389)
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6389 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix code-block highlighting in docs (#6398)
  docs/_docs/installation.md
  docs/_docs/pages.md
  docs/_docs/permalinks.md
  docs/_docs/plugins.md
  docs/_docs/posts.md
  docs/_docs/quickstart.md
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #6398 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Filtering Posts with categories, tags, or other variables (#6399)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #6399 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixes formatting on pre-formatted text. (#6405)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #6405 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: updates (#6407)
  .github/CONTRIBUTING.markdown
  docs/_config.yml
  docs/_docs/collections.md
  docs/_docs/continuous-integration/circleci.md
  docs/_docs/continuous-integration/travis-ci.md
  docs/_docs/contributing.md
  docs/_docs/datafiles.md
  docs/_docs/frontmatter.md
  docs/_docs/github-pages.md
  docs/_docs/includes.md
  docs/_docs/index.md
  docs/_docs/pagination.md
  docs/_docs/plugins.md
  docs/_docs/posts.md
  docs/_docs/static_files.md
  docs/_docs/templates.md
  docs/_docs/themes.md
  docs/_docs/troubleshooting.md
  docs/_docs/upgrading/0-to-2.md
  docs/_docs/upgrading/2-to-3.md
  docs/_docs/usage.md
  docs/_docs/windows.md
  docs/_posts/2014-12-22-jekyll-2-5-3-released.markdown
  docs/_sass/_pygments.scss
  docs/_tutorials/convert-existing-site-to-jekyll.md
  docs/_tutorials/custom-404-page.md
  docs/_tutorials/navigation.md
  docs/_tutorials/orderofinterpretation.md
  docs/community/index.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #6407 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix docs for the new `collections_dir` feature (#6408)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #6408 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Renaming duplicate of "Scenario 6" to "Scenario 7" (#6411)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6411 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
