Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

bump Rubocop
  Gemfile
Owners: @jekyll/stability

Lock RuboCop on Windows to v0.64.x temporarily
  Gemfile
Owners: @jekyll/stability

Use rubocop-0.65.x on all platforms except Windows
  Gemfile
Owners: @jekyll/stability

Add a script to profile docs with CI (#7540)
  .travis.yml
  appveyor.yml
  script/profile-docs
Owners: @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #7540 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix incorrect Windows path in themes.md [skip ci] (#7525)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7525 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add `Site#in_cache_dir` helper method (#7160)
  lib/jekyll/site.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7160 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade WinTZ utility to use TZInfo-2.0 (#7521)
  Gemfile
  docs/_docs/upgrading/3-to-4.md
  lib/jekyll/commands/new.rb
  lib/jekyll/utils/win_tz.rb
Owners: @jekyll/stability, @jekyll/documentation, @jekyll/build

Update history to reflect merge of #7521 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add missing divider in upgrading-guide [skip ci]
  docs/_docs/upgrading/3-to-4.md
Owners: @jekyll/documentation

Fix Wiki link in README.markdown (#7549)
  README.markdown
Owners: @jekyll/affinity-team-captains

Use jruby-openssl-0.10.1 in JRuby builds
  Gemfile
Owners: @jekyll/stability

Remove deprecated `sudo: false` in .travis.yml
  .travis.yml
Owners: @jekyll/stability

Minor typographical suggestions
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update circleci.md
  docs/_docs/continuous-integration/circleci.md
Owners: @jekyll/documentation

Revert Utils::WinTZ upgrade and lock to TZInfo-1.x (#7562)
  Gemfile
  History.markdown
  docs/_docs/upgrading/3-to-4.md
  lib/jekyll/commands/new.rb
  lib/jekyll/utils/win_tz.rb
Owners: @jekyll/stability, @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/build

Update history to reflect merge of #7562 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve handling sites without layouts (#7564)
  docs/_docs/layouts.md
Owners: @jekyll/documentation

Update history to reflect merge of #7564 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Correct entry in History.markdown [skip ci]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix unnecessary allocations via StaticFileReader (#7572)
  lib/jekyll/readers/static_file_reader.rb
Owners: @jekyll/build

Update history to reflect merge of #7572 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Utilize absolute paths of user-provided file paths (#7450)
  lib/jekyll/commands/build.rb
  lib/jekyll/configuration.rb
  test/test_configuration.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7450 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Refactor `highlight` tag to behave like the `raw` tag (#6821)
  features/highlighting.feature
  jekyll.gemspec
  lib/jekyll/tags/highlight.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6821 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cache globbed paths in front matter defaults (#7345)
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/site.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7345 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cache computed item property (#7301)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #7301 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Don't check if site URL is absolute if it is nil (#7498)
  lib/jekyll/commands/doctor.rb
Owners: @jekyll/build

Update history to reflect merge of #7498 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use communicative method parameters (#7566)
  .rubocop.yml
  lib/jekyll/configuration.rb
  lib/jekyll/converters/smartypants.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7566 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Avoid unnecessary duplication of pages array (#7272)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #7272 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Escape valid special chars in a site's path name (#7568)
  features/rendering.feature
  lib/jekyll/liquid_renderer.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7568 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
