Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #7325 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: reorganize README
  README.markdown
Owners: @jekyll/affinity-team-captains

Skip processing posts that can not be read (#7302)
  lib/jekyll/readers/post_reader.rb
  test/source/_posts/2008-02-03-wrong-extension.yml
  test/test_post_reader.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7302 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

grammar change (#7327)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7327 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert "Cache converter in renderer" (#7326)
  History.markdown
  lib/jekyll/renderer.rb
Owners: @jekyll/affinity-team-captains, @jekyll/build

Update history to reflect merge of #7326 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: list all standard liquid filters (#7333)
  docs/_docs/liquid/filters.md
Owners: @jekyll/documentation

Update history to reflect merge of #7333 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: fix link to liquid filter
  docs/_docs/liquid/filters.md
Owners: @jekyll/documentation

Liquid templating to DRY content
  docs/_docs/liquid/filters.md
Owners: @jekyll/documentation

Document Jekyll Filters with YAML data (#7335)
  docs/_data/jekyll_filters.yml
  docs/_docs/liquid/filters.md
Owners: @jekyll/documentation

Update history to reflect merge of #7335 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Page variables as YAML data
  docs/_data/jekyll_variables.yml
  docs/_docs/variables.md
Owners: @jekyll/documentation

Adjust whitespace
  docs/_data/jekyll_variables.yml
  docs/_docs/variables.md
Owners: @jekyll/documentation

docs: variables table as include
  docs/_docs/variables.md
  docs/_includes/docs_variables_table.html
Owners: @jekyll/documentation

docs: use YAML data for paginator obkect
  docs/_data/jekyll_variables.yml
  docs/_docs/pagination.md
Owners: @jekyll/documentation

style: commas [ci skip]
  docs/_data/jekyll_variables.yml
Owners: @jekyll/documentation

Bump RuboCop to v0.60.x (#7338)
  Gemfile
  lib/jekyll/cleaner.rb
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/document.rb
  lib/jekyll/excerpt.rb
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/tags/highlight.rb
  lib/jekyll/tags/include.rb
  lib/jekyll/tags/post_url.rb
  lib/jekyll/utils/ansi.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7338 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove redundant instruction comment (#7342)
  .github/ISSUE_TEMPLATE/documentation.md
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7342 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize Site#post_attr_hash (#7276)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #7276 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: exclude .jekyll-cache
  docs/_config.yml
Owners: @jekyll/documentation

Measure the no. of times a template gets rendered (#7316)
  lib/jekyll/liquid_renderer.rb
  lib/jekyll/liquid_renderer/file.rb
Owners: @jekyll/build

Update history to reflect merge of #7316 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Load config file from within current theme-gem (#7304)
  docs/_docs/themes.md
  features/theme_configuration.feature
  lib/jekyll/site.rb
  test/fixtures/test-theme/_config.yml
  test/test_site.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7304 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: minimize rendering count (#7343)
  docs/_includes/docs_contents.html
  docs/_includes/docs_contents_mobile.html
  docs/_includes/docs_option.html
  docs/_includes/docs_ul.html
Owners: @jekyll/documentation

Update history to reflect merge of #7343 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize the return value of Site#documents (#7273)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #7273 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Re-implement handling Liquid blocks in excerpts (#7250)
  lib/jekyll/excerpt.rb
  test/source/_posts/2018-01-28-closed-liquid-block-excerpt.markdown
  test/source/_posts/2018-01-28-open-liquid-block-excerpt.markdown
  test/test_excerpt.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7250 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Incorporate `relative_url` filter in `link` tag (#6727)
  features/link_tag.feature
  jekyll.gemspec
  lib/jekyll/tags/link.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6727 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

test for stable and backport branches on travis
  .travis.yml
Owners: @jekyll/stability

Add 3.8.5 post
  docs/_posts/2018-11-04-jekyll-3-8-5-released.markdown
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
