Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Gitignore all folder names with `-cache` [skip ci]
  .gitignore
Owners: none

Update old GitHub wiki URL with new one (#7823)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7823 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update JekyllConf page with 2019 talks (#7826)
  docs/_data/jekyllconf-talks.yml
Owners: @jekyll/documentation

Update history to reflect merge of #7826 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve aesthetics of JekyllConf titles [skip ci]
  docs/pages/jekyllconf.md
Owners: @jekyll/documentation

Ci/GitHub actions (#7822)
  .gitattributes
  .github/workflows/ci.yml
  test/helper.rb
  test/source/.gitattributes
  test/test_site.rb
Owners: @jekyll/affinity-team-captains, @jekyll/stability

Update history to reflect merge of #7822 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

[GH Actions]: Fetch repo 5 commits deep
  .github/workflows/ci.yml
Owners: @jekyll/affinity-team-captains

Docs: add jamstackthemes.dev
  docs/pages/resources.md
Owners: @jekyll/documentation

docs: link to themes galleries
  docs/_docs/themes.md
Owners: @jekyll/documentation

Fix RuboCop Performance offenses in test files (#7839)
  test/test_document.rb
  test/test_filters.rb
Owners: @jekyll/stability

Remove Generator meta tag (as this is already included in the SEO plugin)
  docs/_includes/top.html
Owners: @jekyll/documentation

Update html5shiv.min.js
  docs/js/html5shiv.min.js
Owners: @jekyll/documentation

link for memberships (#7825)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7825 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Doc: minor fix, should be greater or equal to min version [ci skip] (#7856)
  docs/_docs/upgrading/3-to-4.md
Owners: @jekyll/documentation

Update history to reflect merge of #7856 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update third-party.md (#7857)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #7857 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rubocop version upgrade (#7846)
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/jekyll/command.rb
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/renderer.rb
  lib/jekyll/static_file.rb
  lib/jekyll/utils.rb
  lib/jekyll/utils/win_tz.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7846 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

site: remove non jekyll sites
  docs/_data/showcase.yml
Owners: @jekyll/documentation

clarify _config.yml/collections type (#7873)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7873 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace `` with html tag (#7879)
  docs/_data/jekyll_variables.yml
Owners: @jekyll/documentation

Update history to reflect merge of #7879 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add new theme source (#7875)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7875 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Better documentation for Jekyll::Converters::Identity (#7883)
  lib/jekyll/converters/identity.rb
Owners: @jekyll/build

Update history to reflect merge of #7883 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fixed grammatical error (it's --> its) (#7887)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7887 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Split action steps to avoid using `&&` on Windows (#7885)
  .github/workflows/ci.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7885 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add back a missing colon
  docs/pages/resources.md
Owners: @jekyll/documentation

Docs: Clarify organizing pages into subfolders (#7896)
  docs/_docs/pages.md
Owners: @jekyll/documentation

Update history to reflect merge of #7896 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update link to the "Liquid templating system"
  docs/_docs/datafiles.md
Owners: @jekyll/documentation

Disambiguate the placeholder of permalink (#7906)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
