Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

require external library only if necessary (#6596)
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/converters/markdown/rdiscount_parser.rb
  lib/jekyll/converters/markdown/redcarpet_parser.rb
  lib/jekyll/converters/smartypants.rb
  lib/jekyll/theme.rb
  lib/jekyll/utils/rouge.rb
  lib/jekyll/utils/win_tz.rb
Owners: @jekyll/build, @jekyll/ecosystem

Update history to reflect merge of #6596 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump rdoc to 6.0 (#6600)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6600 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update deploy-script in documentation (#6666)
  docs/_docs/deployment-methods.md
Owners: @jekyll/documentation

Update history to reflect merge of #6666 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Lint file and bump theme dependencies (#6698)
  lib/theme_template/theme.gemspec.erb
Owners: @jekyll/stability

Update history to reflect merge of #6698 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update note about naming of collections_dir. (#6703)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #6703 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Glob scope path only if configured with a pattern (#6692)
  docs/_docs/configuration.md
  lib/jekyll/frontmatter_defaults.rb
  test/test_front_matter_defaults.rb
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #6692 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update installation.md (#6694)
  docs/_docs/installation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6694 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add `jekyll-html` to plugins. (#6654)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6654 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Write a Rubocop Cop to ensure no `#p` or `#puts` calls get committed to master. (#6615)
  .rubocop.yml
  jekyll.gemspec
  lib/jekyll/commands/help.rb
  lib/jekyll/site.rb
  rubocop/jekyll.rb
  rubocop/jekyll/no_p_allowed.rb
  rubocop/jekyll/no_puts_allowed.rb
  test/test_filters.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6615 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Showcase sites and themes
  docs/help/index.md
Owners: @jekyll/documentation

add gem "wdm" to all newly generated Gemfiles (#6711)
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Update history to reflect merge of #6711 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update History.markdown
  History.markdown
Owners: @jekyll/affinity-team-captains

Update plugins.md (#6716)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6716 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove redgreen gem as reflect of #204, 093a5ef (#6720)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6720 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix timezone incosistencies between different ruby version (#6697)
  features/permalinks.feature
  features/step_definitions.rb
  lib/jekyll/document.rb
  test/source/_dates/date_without_time.md
  test/source/_dates/time_with_timezone.md
  test/source/_dates/time_without_timezone.md
  test/test_document.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6697 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Refactor collections_dir feature for consistency (#6685)
  features/collections_dir.feature
  features/step_definitions.rb
  lib/jekyll/collection.rb
  lib/jekyll/document.rb
  lib/jekyll/reader.rb
  lib/jekyll/site.rb
  lib/jekyll/static_file.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6685 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release v3.7.1 (#6695)
  docs/_posts/2018-01-25-jekyll-3-7-1-released.md
Owners: @jekyll/documentation

Update history to reflect merge of #6695 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Prepare for 3.7.1 release
  History.markdown
  docs/_docs/history.md
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

We're skipping 3.6.1
  History.markdown
  docs/_docs/history.md
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Bump version in docs config.yml
  docs/_config.yml
Owners: @jekyll/documentation

update release post
  docs/_posts/2018-01-25-jekyll-3-7-2-released.md
Owners: @jekyll/documentation

update post username from "pup" to "oe"
  docs/_posts/2017-10-19-diversity-open-source.markdown
Owners: @jekyll/documentation

move duplicate code to a single private method (#6593)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6593 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Two massive performance improvements for large sites (#6730)
  lib/jekyll/document.rb
  lib/jekyll/drops/site_drop.rb
  lib/jekyll/related_posts.rb
  lib/jekyll/renderer.rb
Owners: @jekyll/build
