Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update unit tests for Kramdown-based converter (#8014)
  test/test_kramdown.rb
Owners: @jekyll/stability

Update history to reflect merge of #8014 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Visual Studio Code Development Container (#8016)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/_docs/contributing.md
  docs/_docs/installation.md
Owners: @jekyll/documentation

Update history to reflect merge of #8016 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add an option to easily disable disk-cache (#7928)
  docs/_docs/configuration/options.md
  features/cache.feature
  lib/jekyll/command.rb
  lib/jekyll/site.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7928 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Configure kramdown toc_levels as array by default (#8015)
  docs/_docs/configuration/default.md
  lib/jekyll/configuration.rb
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #8015 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8017 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

remove leading slash from Sass file location (#8021)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #8021 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize rendering of the documentation site (#8020)
  docs/_includes/analytics.html
  docs/_includes/docs_contents.html
  docs/_includes/docs_contents_mobile.html
  docs/_includes/docs_variables_table.html
  docs/_includes/header.html
  docs/_includes/mobile-nav-items.html
  docs/_includes/news_contents.html
  docs/_includes/news_contents_mobile.html
  docs/_includes/news_item.html
  docs/_includes/primary-nav-items.html
  docs/_includes/section_nav_tutorials.html
  docs/_includes/step-index.html
  docs/_includes/tutorials_contents.html
  docs/_includes/tutorials_contents_mobile.html
  docs/_includes/tutorials_option.html
  docs/_includes/tutorials_ul.html
  docs/_layouts/default.html
  docs/_layouts/docs.html
  docs/_layouts/news.html
  docs/_layouts/news_item.html
  docs/_layouts/page.html
  docs/_layouts/step.html
  docs/_layouts/tutorials.html
  docs/pages/404.html
  docs/pages/news.html
  docs/pages/releases.html
  docs/pages/showcase.html
Owners: @jekyll/documentation

Update history to reflect merge of #8020 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

[Docs] Fix asset link ref in step-by-step tutorial (#8026)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #8026 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize markdown parsing with Kramdown by reusing the options and parser objects (#8013)
  lib/jekyll/converters/markdown/kramdown_parser.rb
Owners: @jekyll/build

Update history to reflect merge of #8013 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Corrected command to modify PATH (#8029)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #8029 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Corrected command to modify PATH (#8030)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #8030 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Render full contents of just the latest post (#8032)
  docs/_includes/news_item.html
  docs/_includes/news_item_archive.html
  docs/_layouts/news_item.html
  docs/_sass/_style.scss
  docs/pages/news.html
  docs/pages/releases.html
Owners: @jekyll/documentation

Update history to reflect merge of #8032 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: improvements for note boxes (#8037)
  docs/_docs/collections.md
  docs/_docs/configuration/environments.md
  docs/_docs/installation/macos.md
  docs/_docs/installation/windows.md
  docs/_docs/liquid/tags.md
  docs/_docs/maintaining/affinity-team-captain.md
  docs/_docs/maintaining/avoiding-burnout.md
  docs/_docs/maintaining/becoming-a-maintainer.md
  docs/_docs/maintaining/index.md
  docs/_docs/maintaining/merging-a-pull-request.md
  docs/_docs/maintaining/releasing-a-new-version.md
  docs/_docs/maintaining/reviewing-a-pull-request.md
  docs/_docs/maintaining/special-labels.md
  docs/_docs/maintaining/triaging-an-issue.md
  docs/_docs/pages.md
  docs/_docs/plugins/commands.md
  docs/_docs/plugins/installation.md
  docs/_docs/plugins/tags.md
  docs/_docs/posts.md
  docs/_docs/step-by-step/07-assets.md
  docs/_docs/structure.md
  docs/_docs/themes.md
  docs/_docs/upgrading/2-to-3.md
  docs/_sass/_style.scss
  docs/_tutorials/convert-existing-site-to-jekyll.md
  docs/_tutorials/index.md
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #8037 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore: redirect questions to the forum
  .github/ISSUE_TEMPLATE/config.yml
Owners: @jekyll/affinity-team-captains

chore: remove question template
  .github/ISSUE_TEMPLATE/question.md
Owners: @jekyll/affinity-team-captains

Simplify Jekyll::Hooks.trigger logic (#8044)
  lib/jekyll/hooks.rb
Owners: @jekyll/ecosystem

Update history to reflect merge of #8044 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow multiple binary operator in where_exp filter (#8047)
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8047 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: external links
  docs/_tutorials/convert-existing-site-to-jekyll.md
Owners: @jekyll/documentation

docs: ZEIT and Render
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Non-deprecated `vendor/bundle` path configuration (#8048)
  docs/_tutorials/using-jekyll-with-bundler.md
Owners: @jekyll/documentation

Update history to reflect merge of #8048 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

site: make resources editable
  docs/_layouts/page.html
Owners: @jekyll/documentation

docs: add page layout to philosophy
  docs/pages/philosophy.md
Owners: @jekyll/documentation

docs: add typeform
  docs/pages/resources.md
Owners: @jekyll/documentation

Fix documents custom-ordering logic (#8028)
  lib/jekyll/collection.rb
Owners: @jekyll/build

Update history to reflect merge of #8028 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
