Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Mark collection_dir as unreleased (#6412)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #6412 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Provide a better default hash for tracking liquid stats (#6417)
  lib/jekyll/liquid_renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #6417 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Link to Support (#6415)
  .github/CONTRIBUTING.markdown
  .github/SUPPORT.markdown
  docs/_docs/contributing.md
  docs/_docs/history.md
  docs/_docs/support.md
  rake/site.rake
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #6415 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Added new tutorial to tutorials section on docs (#6406)
  docs/_data/tutorials.yml
  docs/_tutorials/video-walkthroughs.md
Owners: @jekyll/documentation

Update history to reflect merge of #6406 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Scope path glob (#6268)
  docs/_docs/configuration.md
  lib/jekyll/frontmatter_defaults.rb
  test/test_front_matter_defaults.rb
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #6268 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix list appearance by adding missing `ol` tag (#6421)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6421 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Explain how to override output collection index page (#6424)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #6424 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added github-cards to the list of plugins (#6425)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6425 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Contacts for CoC violation (#6429)
  README.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6429 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6339 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add configuration for first-timers bot (#6431)
  .github/first-timers-issue-template.md
  .github/first-timers.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6431 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Problematic UTF+bom files (#6322)
  lib/jekyll/site.rb
  lib/jekyll/utils.rb
  test/source/_encodings/UTF8CRLFandBOM.md
  test/source/_encodings/Unicode16LECRLFandBOM.md
  test/test_document.rb
  test/test_utils.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6322 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 'data.layout' as a string. (#6442)
  lib/jekyll/renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #6442 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add test for layout as string (#6445)
  features/layout_data.feature
Owners: @jekyll/stability

Update history to reflect merge of #6445 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update Rubocop to 0.51.0 (#6444)
  .rubocop.yml
  Gemfile
  features/step_definitions.rb
  lib/jekyll/commands/build.rb
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown/redcarpet_parser.rb
  test/test_filters.rb
  test/test_kramdown.rb
  test/test_tags.rb
  test/test_utils.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6444 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add post about diversity (#6447)
  docs/_posts/2017-10-19-diversity-open-source.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #6447 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update release notes for v3.6.1 (#6449)
  History.markdown
  docs/latest_version.txt
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update _config.yml (#6457)
  docs/_config.yml
Owners: @jekyll/documentation

Update history to reflect merge of #6457 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update release notes for v3.6.2
  History.markdown
  docs/latest_version.txt
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update site History (#6460)
  docs/_docs/history.md
Owners: @jekyll/documentation

Update history to reflect merge of #6460 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Jekyll 3.6.2 release post
  docs/_posts/2017-10-21-jekyll-3-6-2-released.markdown
Owners: @jekyll/documentation

Typos
  docs/_posts/2017-10-21-jekyll-3-6-2-released.markdown
Owners: @jekyll/documentation

Update templates.md (#6466)
  docs/_docs/templates.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
