Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Stash documents `write?` attribute in a variable (#8389)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #8389 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.91.x (#8391)
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8391 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 05-includes.md (#8364)
  docs/_docs/step-by-step/05-includes.md
Owners: @jekyll/documentation

Add workflow to build and profile third-party repo (#8398)
  .github/workflows/actions/memprof.rb
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8398 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use commit message flag to control workflows
  .github/workflows/ci.yml
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Reduce string allocations from generating doc URLs (#8392)
  lib/jekyll/url.rb
Owners: @jekyll/build

Update history to reflect merge of #8392 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: GitHub Pages is using 3.9.0
  docs/_docs/continuous-integration/github-actions.md
Owners: @jekyll/documentation

docs: Clarify gem installation instructions (#8407)
  docs/_docs/installation/ubuntu.md
Owners: @jekyll/documentation

Exclude test files from a Layout RuboCop cop
  .rubocop.yml
Owners: none

Implement custom delegators for drop methods (#8183)
  benchmark/static-drop-vs-forwarded.rb
  lib/jekyll/drops/collection_drop.rb
  lib/jekyll/drops/document_drop.rb
  lib/jekyll/drops/drop.rb
  lib/jekyll/drops/site_drop.rb
  lib/jekyll/drops/static_file_drop.rb
  lib/jekyll/drops/url_drop.rb
Owners: @jekyll/build

Update history to reflect merge of #8183 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Check if site is in incremental mode optimally (#8401)
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #8401 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Disable Continuous Integration workflow [ci skip]
  .github/workflows/ci.disabled_workflow
Owners: @jekyll/affinity-team-captains

Remove CircleCI v1 docs as it was sunset in 2019 (#8410)
  docs/_docs/continuous-integration/circleci.md
Owners: @jekyll/documentation

Update history to reflect merge of #8410 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove NOKOGIRI_USE_SYSTEM_LIBRARIES from Travis CI docs (#8409)
  docs/_docs/continuous-integration/travis-ci.md
Owners: @jekyll/documentation

Update history to reflect merge of #8409 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(deps): bump Rubocop to 0.92.0
  Gemfile
Owners: @jekyll/stability

docs: Rubocop 0.92.0 [ci-skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update cucumber gem version to 5.1.2 (#8413)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8413 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

test: pubish cucumber report
  script/cucumber
Owners: @jekyll/affinity-team-captains

Handle nil argument to Jekyll.sanitized_path (#8415)
  lib/jekyll.rb
  test/test_path_sanitization.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8415 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix test suite compatibility with JRuby (#8418)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8418 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Restore Gemfile to prior state
  Gemfile
Owners: @jekyll/stability

Compute relative_path of pages using PathManager (#8408)
  benchmark/path-manager.rb
  lib/jekyll/page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8408 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Enable `Performance/ChainArrayAllocation` cop (#8404)
  .rubocop.yml
  lib/jekyll/drops/drop.rb
  lib/jekyll/filters/url_filters.rb
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/readers/post_reader.rb
  lib/jekyll/related_posts.rb
  lib/jekyll/renderer.rb
  lib/jekyll/site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8404 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update your-first-plugin.md (#8420)
  docs/_docs/plugins/your-first-plugin.md
Owners: @jekyll/documentation

Utilize flexibility of Site#in_dest_dir (#8403)
  lib/jekyll/document.rb
  lib/jekyll/static_file.rb
Owners: @jekyll/build

Update history to reflect merge of #8403 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce allocation from normalize_whitespace filter (#8400)
  lib/jekyll/filters.rb
Owners: @jekyll/build

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
