Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Memoize Document#excerpt_separator (#7569)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #7569 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade kramdown dependency to v2.x (#7492)
  Gemfile
  docs/_docs/upgrading/3-to-4.md
  features/collections.feature
  jekyll.gemspec
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
Owners: @jekyll/stability, @jekyll/documentation, @jekyll/build

Update history to reflect merge of #7492 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cleanup Markdown converter (#7519)
  lib/jekyll/converters/markdown.rb
Owners: @jekyll/build

Update history to reflect merge of #7519 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Feat: drop ruby 2.3 (#7454)
  .travis.yml
  appveyor.yml
  jekyll.gemspec
  test/test_commands_serve.rb
Owners: @jekyll/stability

Update history to reflect merge of #7454 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace `name` in Page#inspect with relative_path (#7434)
  lib/jekyll/page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7434 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: mention CommonMark plugins (#7418)
  docs/_docs/configuration/markdown.md
Owners: @jekyll/documentation

Update history to reflect merge of #7418 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Log a warning when the slug is empty (#7357)
  lib/jekyll/utils.rb
  test/test_utils.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7357 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Addresses bundle not found. (#7351)
  docs/_docs/deployment/automated.md
Owners: @jekyll/documentation

Update history to reflect merge of #7351 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize Document::DATE_FILENAME_MATCHER to match valid filenames (#7292)
  lib/jekyll/document.rb
  test/source/_posts/2013-03-19-not-a-post/dubious.markdown
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7292 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Scan `assert_equal` methods and rectify any offenses with a custom Rubocop cop (#7130)
  rubocop/jekyll/assert_equal_literal_actual.rb
Owners: none

Update history to reflect merge of #7130 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow builds on JRuby to fail uneventfully
  .travis.yml
Owners: @jekyll/stability

Simplify Cucumber helper
  features/support/helpers.rb
Owners: @jekyll/stability

Update Jekyll on Windows documentation [skip ci]
  docs/_docs/installation/windows.md
Owners: @jekyll/documentation

Bump RuboCop to v0.66.x
  Gemfile
Owners: @jekyll/stability

Push Markdown link refs to excerpt only as required (#7577)
  features/post_excerpts.feature
  lib/jekyll/excerpt.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7577 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release v4.0.0.pre.alpha1 (#7574)
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/_docs/installation.md
  docs/_docs/installation/macos.md
  docs/_docs/liquid/tags.md
  docs/_docs/troubleshooting.md
  docs/_docs/upgrading.md
  docs/_docs/upgrading/3-to-4.md
  docs/_posts/2019-03-18-jekyll-4-0-0-pre-alpha1-released.markdown
  docs/_tutorials/cache_api.md
  jekyll.gemspec
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #7574 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

link to GitHub pre-release
  docs/_posts/2019-03-18-jekyll-4-0-0-pre-alpha1-released.markdown
Owners: @jekyll/documentation

Re-insert deleted History entry [skip ci]
  History.markdown
Owners: @jekyll/affinity-team-captains

ISO week date drops (#5981)
  docs/_docs/permalinks.md
  lib/jekyll/configuration.rb
  lib/jekyll/drops/url_drop.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #5981 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Detect `nil` and empty values in objects with `where` filter (#7580)
  docs/_docs/liquid/filters.md
  features/embed_filters.feature
  features/step_definitions.rb
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7580 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Favor Ruby 2.3 squiggly-heredoc operator (#7584)
  features/step_definitions.rb
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/utils.rb
  test/test_kramdown.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7584 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add a Cucumber feature for post_url tag (#7586)
  features/post_url_tag.feature
Owners: @jekyll/stability

Update history to reflect merge of #7586 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Incorporate `relative_url` within `post_url` tag (#7589)
  docs/_docs/upgrading/3-to-4.md
  docs/_sass/_style.scss
  features/post_url_tag.feature
  jekyll.gemspec
  lib/jekyll/tags/post_url.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7589 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
