Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #8400 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow testing on Ruby 2.4 as well
  Gemfile
Owners: @jekyll/stability

Profile allocations from `lib/jekyll.rb` as well
  .github/workflows/actions/memprof.rb
Owners: @jekyll/affinity-team-captains

Cache Jekyll.sanitized_path (#8424)
  lib/jekyll.rb
  lib/jekyll/path_manager.rb
  test/test_path_manager.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8424 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use Regexp#match? when MatchData is not required (#8427)
  lib/jekyll/cleaner.rb
Owners: @jekyll/build

Update history to reflect merge of #8427 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(deps): bump Rubocop to 0.93.0 (#8430)
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/jekyll/convertible.rb
  lib/jekyll/page.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8430 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

correcting lightburn company spelling (#8433)
  docs/_data/showcase.yml
Owners: @jekyll/documentation

Check default front matter scope against symbols (#8393)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #8393 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Stash frequently used Drop setter keys for reuse (#8394)
  lib/jekyll/drops/drop.rb
Owners: @jekyll/build

Update history to reflect merge of #8394 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix broken url in docs (#8435)
  docs/_tutorials/convert-site-to-jekyll.md
Owners: @jekyll/documentation

Memoize array of drop getter method names (#8421)
  lib/jekyll/drops/drop.rb
  test/test_drop.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8421 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v1.x
  Gemfile
  script/fmt
Owners: @jekyll/stability, @jekyll/affinity-team-captains

Add links to all Jekyll themes on GitHub tagged with #jekyll-theme (#8447)
  docs/_docs/themes.md
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #8447 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: init project (#8450)
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Update history to reflect merge of #8450 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 07-assets.md (#8449)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Refer to Bundler as a proper noun [ci skip]
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Configure cops from RuboCop 1.1
  .rubocop.yml
Owners: none

Memoize defaults computed for Convertibles (#8451)
  lib/jekyll/convertible.rb
Owners: @jekyll/build

Update history to reflect merge of #8451 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix(deps): Terminal Table 2.0
  jekyll.gemspec
Owners: @jekyll/stability

Use Ruby 2.7.1 in GitHub Actions (#8444)
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8444 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

actions/setup-ruby does not support patch versions
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Reduce array allocations from merging categories (#8453)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #8453 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Configure cops introduced in RuboCop v1.2
  .rubocop.yml
  lib/jekyll/document.rb
Owners: @jekyll/build

docs: installation: fedora: add additional dependencies (#8456)
  docs/_docs/installation/other-linux.md
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Update history to reflect merge of #8456 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Move PathManager methods into its singleton class
  lib/jekyll/path_manager.rb
Owners: none

Enable Lint/NoReturnInBeginEndBlocks Cop (#8457)
  .rubocop.yml
  lib/jekyll/path_manager.rb
Owners: none

Update history to reflect merge of #8457 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize destination of pages, documents and staticfiles (#8458)
  lib/jekyll/document.rb
  lib/jekyll/page.rb
  lib/jekyll/static_file.rb
Owners: @jekyll/build

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
