Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #6882 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump JRuby (#6878)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #6878 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update plugins.md (#6833)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6833 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

bump rubies
  .travis.yml
Owners: @jekyll/stability

Release :gem: 3.8.0.pre.rc1
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains

Fix build on Travis
  .travis.yml
Owners: @jekyll/stability

Fixed typo in description of categories and tags (#6896)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #6896 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Prevent rendering issue caused by a missing ul-tag (#6897)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6897 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

doc: add liquid tag plugin jekyll-onebox for html previews (#6898)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6898 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Assert existence of <collection>.files (#6907)
  test/test_collections.rb
Owners: @jekyll/stability

Update history to reflect merge of #6907 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add `jekyll-w2m` to plugins (#6855)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6855 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump Rubocop to 0.54.x (#6915)
  .rubocop.yml
  Gemfile
  lib/jekyll/command.rb
  lib/jekyll/commands/serve.rb
  lib/jekyll/commands/serve/live_reload_reactor.rb
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/commands/serve/websockets.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/converters/markdown/rdiscount_parser.rb
  lib/jekyll/convertible.rb
  lib/jekyll/entry_filter.rb
  lib/jekyll/liquid_renderer.rb
  lib/jekyll/liquid_renderer/table.rb
  lib/jekyll/utils/platforms.rb
  test/test_commands_serve.rb
  test/test_filters.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6915 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

regenerate unconditionally unless its incremental (#6917)
  lib/jekyll/regenerator.rb
Owners: @jekyll/build

Update history to reflect merge of #6917 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve comment included in the starter index.md (#6916)
  lib/site_template/index.md
Owners: @jekyll/stability

Update history to reflect merge of #6916 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize loading library into memory (#6910)
  benchmark/local-require
  lib/jekyll.rb
  lib/jekyll/cleaner.rb
  lib/jekyll/commands/doctor.rb
  lib/jekyll/commands/serve/live_reload_reactor.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/convertible.rb
  lib/jekyll/drops/drop.rb
  lib/jekyll/drops/jekyll_drop.rb
  lib/jekyll/filters.rb
  lib/jekyll/filters/url_filters.rb
  lib/jekyll/reader.rb
  lib/jekyll/site.rb
  lib/jekyll/url.rb
  lib/jekyll/utils/rouge.rb
Owners: @jekyll/build

Update history to reflect merge of #6910 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixed code issue (#6919)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6919 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

`include_relative` tag should find related documents in collections gathered within custom `collections_dir` (#6818)
  features/collections_dir.feature
  lib/jekyll/tags/include.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6818 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Store and retrieve converter instances for Jekyll::Filters via a hash (#6856)
  lib/jekyll/filters.rb
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6856 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

implement a cache within the where filter (#6868)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #6868 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

store regexp in a constant (#6887)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #6887 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

handle liquid tags in excerpts robustly (#6891)
  lib/jekyll/excerpt.rb
  test/source/_posts/2018-01-28-closed-liquid-block-excerpt.markdown
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6891 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Move #6891 to Bug Fixes
  History.markdown
Owners: @jekyll/affinity-team-captains

optimize computing filename in LiquidRenderer (#6841)
  lib/jekyll/liquid_renderer.rb
Owners: @jekyll/build
