Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Say hello to Jekyll's New Lead Developer (#6790)
  docs/_posts/2018-02-19-meet-jekyll-s-new-lead-developer.markdown
  docs/team/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #6790 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Always load Google Fonts over HTTPS (#6792)
  docs/_includes/top.html
Owners: @jekyll/documentation

Update history to reflect merge of #6792 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add reference to Liquid to plugin docs (#6794)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6794 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace simple regex with equivalent Ruby methods (#6736)
  benchmark/sanitize-url.rb
  lib/jekyll/document.rb
  lib/jekyll/static_file.rb
  lib/jekyll/theme_builder.rb
  lib/jekyll/url.rb
Owners: @jekyll/build, @jekyll/ecosystem

Update history to reflect merge of #6736 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow Jekyll Doctor to detect stray posts dir (#6681)
  lib/jekyll/commands/doctor.rb
Owners: @jekyll/build

Update history to reflect merge of #6681 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Append appropriate closing tag to Liquid block in an excerpt (#6724)
  lib/jekyll/excerpt.rb
  test/source/_posts/2018-01-28-closed-liquid-block-excerpt.markdown
  test/source/_posts/2018-01-28-open-liquid-block-excerpt.markdown
  test/test_excerpt.rb
  test/test_generated_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6724 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Gauges away, we can Gauges away
  docs/_config.yml
  docs/_includes/analytics.html
Owners: @jekyll/documentation

Excerpt relative-path should match its path (#6597)
  lib/jekyll/excerpt.rb
  test/test_excerpt.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6597 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add @ayastreb wrap-up
  docs/_docs/plugins.md
Owners: @jekyll/documentation

fix broken link in maintainer blog post
  docs/_posts/2018-02-19-meet-jekyll-s-new-lead-developer.markdown
Owners: @jekyll/documentation

Do not hardcode locale unless certainly necessary (#6791)
  lib/jekyll.rb
  lib/jekyll/utils.rb
Owners: @jekyll/build

Update history to reflect merge of #6791 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history for 3.7.3 release
  History.markdown
Owners: @jekyll/affinity-team-captains

Generate docs site
  docs/_docs/history.md
  docs/latest_version.txt
Owners: @jekyll/documentation

Draft a release post for v3.7.3 (#6803)
  docs/_posts/2018-02-25-jekyll-3-7-3-released.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #6803 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Whoops, forgot the docs version
  docs/_config.yml
Owners: @jekyll/documentation

Update 3.7.3 release post
  docs/_posts/2018-02-25-jekyll-3-7-3-released.markdown
Owners: @jekyll/documentation

always load analytics.js over HTTPS (#6807)
  docs/_includes/analytics.html
Owners: @jekyll/documentation

Update history to reflect merge of #6807 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add missing step for gem-based theme conversion (#6802)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #6802 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remind user to resolve conflict in `jekyll new` with `--force` (#6801)
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Update history to reflect merge of #6801 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

memoize helper methods in site-cleaner (#6808)
  lib/jekyll/cleaner.rb
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6808 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bypass rendering via Liquid unless required (#6735)
  benchmark/conditional_liquid.rb
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/renderer.rb
  lib/jekyll/utils.rb
Owners: @jekyll/build

Update history to reflect merge of #6735 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Compute document's relative_path faster (#6767)
  benchmark/native-vs-pathutil-relative
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #6767 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

create a single instance of PostReader per site (#6759)
  lib/jekyll/reader.rb
Owners: @jekyll/build

Update history to reflect merge of #6759 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rewrite `script/rubyprof` as a Ruby script (#6813)
  script/rubyprof
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
