Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Add closing tags for <a> (#7163)
  docs/_docs/includes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7163 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove 'cache_dir' during `jekyll clean` (#7158)
  lib/jekyll/commands/clean.rb
  lib/jekyll/configuration.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7158 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update blog post date
  docs/_posts/2018-08-01-jekyll-sponsoring.markdown
Owners: @jekyll/documentation

fix opencollective display in readme
  README.markdown
Owners: @jekyll/affinity-team-captains

use the correct sponsor embed
  README.markdown
Owners: @jekyll/affinity-team-captains

revert and manually use sponsor images
  README.markdown
Owners: @jekyll/affinity-team-captains

Fix links in Code Climate badges
  README.markdown
Owners: @jekyll/affinity-team-captains

Document TSV as a supported data file format (#7168)
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update history to reflect merge of #7168 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add siteleaf to site sponsors
  docs/_data/sponsors.yml
  docs/_includes/footer.html
  docs/img/siteleaf-logo.png
Owners: @jekyll/documentation

update sponsor links
  README.markdown
Owners: @jekyll/affinity-team-captains

add cloudcannon to site sponsors
  docs/_data/sponsors.yml
  docs/img/cloudcannon-logo.png
Owners: @jekyll/documentation

Output Jekyll Version while debugging (#7173)
  lib/jekyll/log_adapter.rb
Owners: @jekyll/build

Update history to reflect merge of #7173 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add info how to deploy using pre-push git hook (#7179)
  docs/_docs/deployment-methods.md
Owners: @jekyll/documentation

Update history to reflect merge of #7179 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Corrected sample usage of postfiles (#7181)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7181 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

change team page phrasing
  docs/team/index.md
Owners: @jekyll/documentation

update .gitignore
  .gitignore
  docs/.gitignore
Owners: @jekyll/documentation

Update history to reflect merge of #7184 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Cache class (#7169)
  docs/_tutorials/cache_api.md
  lib/jekyll.rb
  lib/jekyll/cache.rb
  lib/jekyll/site.rb
  lib/site_template/.gitignore
  lib/theme_template/gitignore.erb
  test/test_site.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #7169 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace regex arg to :gsub with a string arg (#7189)
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #7189 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add support for `*.xhtml` files (#6854)
  lib/jekyll/commands/serve.rb
  lib/jekyll/commands/serve/servlet.rb
  test/fixtures/webrick/bar/foo.xhtml
  test/test_commands_serve_servlet.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6854 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add missing html end tag for code example in section 'For loops' (#7199)
  docs/_tutorials/convert-existing-site-to-jekyll.md
Owners: @jekyll/documentation

Update history to reflect merge of #7199 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Resolve "Unable to locate package ruby2.4" error (#7196)
  docs/_docs/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #7196 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

installation instructions for Fedora (#7198)
  docs/_docs/installation.md
Owners: @jekyll/documentation

Update history to reflect merge of #7198 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Interpolate Jekyll::Page subclass on inspection (#7203)
  lib/jekyll/page.rb
  lib/jekyll/page_without_a_file.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7203 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7205 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Correct stylesheet url in tutorial step 7 (#7210)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7210 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
