Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Corre (#7975)
  docs/_docs/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #7975 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: remove watch option in config (#7940)
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #7940 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(ci): update to actions/checkoutv2
  .github/workflows/ci.yml
Owners: @jekyll/affinity-team-captains

Correct a sentence in the documentation (#7978)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #7978 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(deps): mercenary 0.4.0
  jekyll.gemspec
Owners: @jekyll/stability

Fix YAML representation of `group_by` result (#7979)
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #7979 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Move --baseurl to build command options (#7985)
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #7985 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Return relative_url if site.url is an empty string (#7988)
  lib/jekyll/filters/url_filters.rb
Owners: @jekyll/build

Update history to reflect merge of #7988 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Attain Ruby 3.0 compatibility (#7948)
  .rubocop.yml
  .travis.yml
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/tags/include.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7948 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Correct documentation of filters (#7989)
  docs/_docs/plugins/filters.md
Owners: @jekyll/documentation

Update history to reflect merge of #7989 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Document sorting two documents by their `date` (#7870)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7870 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Test where filter handling numeric property values (#7821)
  test/test_filters.rb
Owners: @jekyll/stability

Update history to reflect merge of #7821 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix English grammar error. (#7994)
  docs/_docs/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #7994 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 03-front-matter.md (#7996)
  docs/_docs/step-by-step/03-front-matter.md
Owners: @jekyll/documentation

Update history to reflect merge of #7996 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Include _config.yml in a new theme's gemspec (#7865)
  features/step_definitions.rb
  features/theme_gem.feature
  lib/theme_template/theme.gemspec.erb
Owners: @jekyll/stability

Update history to reflect merge of #7865 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize Jekyll::Filters#item_property (#7696)
  .rubocop.yml
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #7696 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Kentico Kontent CMS integration to resources (#8000)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #8000 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 07-assets.md (#7413)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7413 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: VS Code plugins and config autocompletion
  docs/pages/resources.md
Owners: @jekyll/documentation

Fix file references in Step by Step Tutorial's Assets step (#8007)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #8007 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(deps): rubocop 0.80.0 (#8012)
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8012 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump JRuby version used in Travis CI build
  .travis.yml
Owners: @jekyll/stability
