Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #8097 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update variables.md (#8106)
  docs/_docs/variables.md
Owners: @jekyll/documentation

Update history to reflect merge of #8106 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Netlify and ZEIT Now guides
  docs/pages/resources.md
Owners: @jekyll/documentation

Reduce Jekyll::Renderer instances during a build (#7570)
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #7570 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Pass require path to sub-process when running `bundle install` (#7618)
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Update history to reflect merge of #7618 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add static file's basename to its url_placeholder (#7908)
  features/collections.feature
  lib/jekyll/static_file.rb
  test/source/_methods/extensionless_static_file
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7908 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Clear cached Liquid template scope before render (#7967)
  lib/jekyll/liquid_renderer/file.rb
Owners: @jekyll/build

Update history to reflect merge of #7967 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add slugified_categories URL placeholder (#8094)
  docs/_docs/permalinks.md
  features/post_data.feature
  lib/jekyll/drops/url_drop.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #8094 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cache URLFilter results of string inputs per site (#7990)
  lib/jekyll/filters/url_filters.rb
  lib/jekyll/site.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7990 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: update Ruby versions
  docs/_data/ruby.yml
Owners: @jekyll/documentation

Revert "Pass require path to sub-process when running `bundle install`" (#8117)
  History.markdown
  lib/jekyll/commands/new.rb
Owners: @jekyll/affinity-team-captains, @jekyll/build

style: Style/SpecialGlobalVars
  jekyll.gemspec
Owners: @jekyll/stability

Revert to using "\x0" as INPUT_RECORD_SEPARATOR
  jekyll.gemspec
Owners: @jekyll/stability

Use Ruby's English module in gemspec
  jekyll.gemspec
Owners: @jekyll/stability

Add help about Gentoo/Linux (#8002)
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

Update history to reflect merge of #8002 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

KeyCDN added to third party site (#8122)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #8122 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve syntax-highlighting in documentation site (#8079)
  docs/_sass/_pygments.scss
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #8079 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.82.x
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @jekyll/affinity-team-captains

docs: override default excluded filenames
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update expected markup rendered by kramdown
  features/post_excerpts.feature
Owners: @jekyll/stability

Added Clear Linux (#8132)
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

Update history to reflect merge of #8132 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added note about OS specific installation instructions. (#8135)
  docs/_docs/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #8135 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Fix broken URL in the "Resources" page (#8136)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #8136 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(ci): Ruby 2.4 EOL
  appveyor.yml
Owners: @jekyll/stability

Docs: Deploy Jekyll site with GitHub Actions (#8119)
  docs/_docs/continuous-integration/github-actions.md
  docs/_docs/deployment/automated.md
Owners: @jekyll/documentation

Update history to reflect merge of #8119 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
