Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #6584 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add PageWithoutAFile class from jekyll plugins (#6556)
  lib/jekyll.rb
  lib/jekyll/page_without_a_file.rb
  test/fixtures/physical.html
  test/test_page_without_a_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6556 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Dependency: Bump jekyll-watch to 2.0 (#6589)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #6589 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Avoid Kramdown warnings
  docs/_docs/history.md
Owners: @jekyll/documentation

Docs: Build for production
  docs/_docs/usage.md
Owners: @jekyll/documentation

Dev: Run preview in incremental mode
  rake/site.rake
Owners: @jekyll/affinity-team-captains

Docs: Add title and anchor
  docs/_docs/usage.md
Owners: @jekyll/documentation

use a shorter topic label for readability
  lib/jekyll/collection.rb
Owners: @jekyll/build

Add LiveReload functionality to Jekyll. (#5142)
  Gemfile
  jekyll.gemspec
  lib/jekyll/commands/serve.rb
  lib/jekyll/commands/serve/live_reload_reactor.rb
  lib/jekyll/commands/serve/livereload_assets/livereload.js
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/commands/serve/websockets.rb
  lib/jekyll/utils.rb
  lib/jekyll/utils/thread_event.rb
  test/test_commands_serve.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #5142 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

rename log_warnings to show_warnings
  docs/_docs/configuration.md
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/converters/smartypants.rb
  test/test_kramdown.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Fix Kramdown warnings
  History.markdown
  docs/_posts/2013-07-24-jekyll-1-1-1-released.markdown
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Site: Kramdown and Rouge are set by default
  docs/_config.yml
Owners: @jekyll/documentation

Update plugins.md (#6555)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6555 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add json extension to list of directory indices (#6550)
  lib/jekyll/commands/serve.rb
Owners: @jekyll/build

Site: Search with @Algolia DocSearch (#6557)
  docs/_includes/header.html
  docs/_includes/search/input.html
  docs/_includes/search/script.html
  docs/_includes/top.html
  docs/_layouts/default.html
  docs/_sass/_docsearch.scss
  docs/_sass/_style.scss
  docs/css/screen.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6550 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump JRuby version in Travis config (#6561)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #6557 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6561 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Site: Display search only on large resolutions
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Reformat
  History.markdown
Owners: @jekyll/affinity-team-captains

Avoid block parser warning in SmartyPants (#6565)
  lib/jekyll/converters/smartypants.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6565 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Site header redesign (#6567)
  docs/_includes/header.html
  docs/_includes/mobile-nav-items.html
  docs/_sass/_docsearch.scss
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6567 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6570 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

move logo above navigation on small screens (#6570)
  docs/_includes/header.html
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6573 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fail gracefully if "sass" gem cannot be loaded (#6573)
  lib/jekyll/theme.rb
Owners: @jekyll/ecosystem

Update history to reflect merge of #5828 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rescue from Psych::SyntaxError instead of SyntaxError after parsing YAML (#5828)
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  test/test_convertible.rb
Owners: @jekyll/build, @jekyll/stability

Docs: Include version badge for latest features (#6574)
  docs/_docs/collections.md
  docs/_docs/configuration.md
  docs/_docs/templates.md
  docs/_includes/docs_version_badge.html
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6574 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

return correct file in dir if dir has same name as file (#6569)
  lib/jekyll/commands/serve/servlet.rb
  test/fixtures/webrick/bar.html
  test/fixtures/webrick/bar/baz.html
  test/helper.rb
  test/test_commands_serve_servlet.rb
Owners: @jekyll/build, @jekyll/stability

use version-badge on an existing feature intro (#6575)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #6569 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
