Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #6813 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update links to CloudCannon documentation
  docs/_docs/resources.md
Owners: @jekyll/documentation

Add debug output to theme rendering (#5195)
  lib/jekyll/renderer.rb
  lib/jekyll/theme.rb
Owners: @jekyll/build, @jekyll/ecosystem

Update history to reflect merge of #5195 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow date filters to output ordinal days (#6773)
  docs/_docs/templates.md
  lib/jekyll/filters.rb
  lib/jekyll/filters/date_filters.rb
  test/test_filters.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #6773 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Delegated methods after `private` keyword are meant to be private (#6819)
  lib/jekyll/drops/collection_drop.rb
  lib/jekyll/drops/document_drop.rb
  lib/jekyll/drops/site_drop.rb
  lib/jekyll/drops/static_file_drop.rb
Owners: @jekyll/build

Update history to reflect merge of #6819 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Change regex to sanitize and normalize filenames passed to LiquidRenderer (#6610)
  lib/jekyll/liquid_renderer.rb
  script/default-site
Owners: @jekyll/build, @jekyll/affinity-team-captains

Update history to reflect merge of #6610 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve handling non-default collection documents rendering and writing (#6795)
  docs/_docs/collections.md
  features/collections.feature
  lib/jekyll/collection.rb
  lib/jekyll/document.rb
  test/test_document.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #6795 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update configuration.md
  docs/_docs/configuration.md
Owners: @jekyll/documentation

Update configuration.md
  docs/_docs/configuration.md
Owners: @jekyll/documentation

Update windows.md to explain an issue with jekyll new. (#6838)
  docs/_docs/troubleshooting.md
  docs/_docs/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #6838 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix minitest deprecation warning in test (#6839)
  test/test_site.rb
Owners: @jekyll/stability

Update history to reflect merge of #6839 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

assign and use Liquid variables in templates
  docs/_includes/news_item.html
  docs/_layouts/news_item.html
Owners: @jekyll/documentation

Allow passing :strict_variables and :strict_filters options to Liquid's renderer (#6726)
  docs/_docs/configuration.md
  features/rendering.feature
  lib/jekyll/configuration.rb
  lib/jekyll/renderer.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #6726 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize `Site#site_data` (#6809)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6809 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

memoize document output extension (#6814)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #6814 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Bundler Installation Instructions (#6828)
  docs/_data/tutorials.yml
  docs/_tutorials/using-jekyll-with-bundler.md
Owners: @jekyll/documentation

Update history to reflect merge of #6828 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixed Minor Grammar Issue
  docs/_docs/installation.md
Owners: @jekyll/documentation

Debug writing files during the build process (#6696)
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/regenerator.rb
Owners: @jekyll/build

Update history to reflect merge of #6696 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

access document permalink attribute efficiently (#6740)
  lib/jekyll/renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #6740 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve regex usage in `Tags::IncludeTag` (#6848)
  features/include_tag.feature
  lib/jekyll/tags/include.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6848 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix passing multiline params to include tag when using the variable syntax (#6858)
  lib/jekyll/tags/include.rb
  test/test_tags.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6858 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

minimize array allocations in the `where` filter (#6860)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #6860 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Latest version is 3.7.3
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains

Docs: describe difference between tags and categories (#6882)
  docs/_docs/posts.md
Owners: @jekyll/documentation
