Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #6978 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix tests
  test/test_kramdown.rb
Owners: @jekyll/stability

Remove support for Redcarpet (#6987)
  Gemfile
  features/site_configuration.feature
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown.rb
  lib/jekyll/converters/markdown/redcarpet_parser.rb
  test/helper.rb
  test/test_redcarpet.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6987 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6990 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert update to docs meant for v4.0
  docs/_docs/templates.md
Owners: @jekyll/documentation

Updated nginx configuration for custom-404-page documentation (#6994)
  docs/_tutorials/custom-404-page.md
Owners: @jekyll/documentation

Update history to reflect merge of #6994 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace individual core team emails
  README.markdown
Owners: @jekyll/affinity-team-captains

List all static files variables (#7002)
  docs/_docs/variables.md
Owners: @jekyll/documentation

Update history to reflect merge of #7002 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Textile is only supported through a converter plugin (#7003)
  docs/_docs/pagination.md
  docs/_docs/structure.md
  docs/_docs/upgrading/2-to-3.md
  docs/index.html
Owners: @jekyll/documentation

Update history to reflect merge of #7003 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Mention _drafts in custom collections_dir note (#6985)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #6985 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove support for rdiscount (#6988)
  Gemfile
  features/site_configuration.feature
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown.rb
  lib/jekyll/converters/markdown/rdiscount_parser.rb
  test/helper.rb
  test/test_rdiscount.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6988 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

proposed change for passive voice. (#7005)
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Update history to reflect merge of #7005 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rephrase sentence
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Load Rouge for TestKramdown (#7007)
  test/test_kramdown.rb
Owners: @jekyll/stability

Update history to reflect merge of #7007 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

added the CAT plugin to the plugin list (#7011)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7011 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop version (#7016)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7016 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add whitespace control to LIQUID_TAG_REGEX (#7015)
  lib/jekyll/excerpt.rb
  test/source/_posts/2018-05-15-closed-liquid-block-excerpt-whitespace-control.md
  test/source/_posts/2018-05-15-excerpt-whitespace-control-variable.md
  test/source/_posts/2018-05-15-open-liquid-block-excerpt-whitespace-control.md
  test/test_excerpt.rb
  test/test_generated_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7015 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add whitespace control to LIQUID_TAG_REGEX (#7015)
  lib/jekyll/excerpt.rb
  test/source/_posts/2018-05-15-closed-liquid-block-excerpt-whitespace-control.md
  test/source/_posts/2018-05-15-excerpt-whitespace-control-variable.md
  test/source/_posts/2018-05-15-open-liquid-block-excerpt-whitespace-control.md
  test/test_excerpt.rb
  test/test_generated_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7015 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop version (#7016)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7016 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.8.2
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/_posts/2018-05-18-jekyll-3-8-2-released.markdown
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Useless privates removed (#6768)
  .rubocop.yml
  lib/jekyll/collection.rb
  lib/jekyll/commands/serve.rb
  lib/jekyll/commands/serve/live_reload_reactor.rb
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/document.rb
  lib/jekyll/filters.rb
  lib/jekyll/filters/date_filters.rb
  lib/jekyll/filters/grouping_filters.rb
  lib/jekyll/regenerator.rb
  lib/jekyll/renderer.rb
  lib/jekyll/site.rb
  lib/jekyll/utils.rb
  lib/jekyll/utils/internet.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6768 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix --unpublished not affecting collection documents (#7027)
  features/collections.feature
  lib/jekyll/collection.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7027 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix --unpublished not affecting collection documents (#7027)
  features/collections.feature
  lib/jekyll/collection.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7027 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Updated to supported version (#7031)
  docs/_docs/windows.md
Owners: @jekyll/documentation
