Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #7689 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typo from 'Github' to 'GitHub' (#7691)
  docs/_docs/ruby-101.md
Owners: @jekyll/documentation

Update history to reflect merge of #7691 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Typo fix in Jekyll 4.0 pre-release post (#7694)
  docs/_posts/2019-03-18-jekyll-4-0-0-pre-alpha1-released.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #7690 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove override to Jekyll::Document#respond_to? (#7695)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #7695 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reject entries that are just dots in a directory
  lib/jekyll/entry_filter.rb
Owners: @jekyll/build

Refactor `EntryFilter#glob_include?`
  lib/jekyll/entry_filter.rb
  test/test_entry_filter.rb
Owners: @jekyll/build, @jekyll/stability

Do not install docs on updating gems on Travis (#7706)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #7706 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Don't sanitize pattern or entry string
  lib/jekyll/entry_filter.rb
Owners: @jekyll/build

fix link to Site Source config (#7708)
  docs/_docs/github-pages.md
Owners: @jekyll/documentation

Update history to reflect merge of #7708 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix: LocalJump error: unexpected return
  rake/site.rake
Owners: @jekyll/affinity-team-captains

Update TestTags in sync with Rouge v3.4 (#7709)
  test/test_tags.rb
Owners: @jekyll/stability

Update history to reflect merge of #7709 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.71.0 (#7687)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7687 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reword code-comment to reflect the implementation
  lib/jekyll/readers/static_file_reader.rb
Owners: @jekyll/build

Disable color output from profile:memory task
  rake/profile.rake
Owners: @jekyll/affinity-team-captains

Fix offenses detected by rubocop-performance-1.4.0
  test/test_entry_filter.rb
Owners: @jekyll/stability

Use regexp to filter special entries (#7702)
  lib/jekyll/entry_filter.rb
Owners: @jekyll/build

Update history to reflect merge of #7702 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Don't read symlinks in site.include in safe mode (#7711)
  lib/jekyll/reader.rb
Owners: @jekyll/build

Update history to reflect merge of #7711 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace `String#=~` with `String#match?` (#7718)
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #7718 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize SiteDrop#documents to reduce allocations (#7697)
  lib/jekyll/drops/site_drop.rb
Owners: @jekyll/build

Update history to reflect merge of #7697 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.72.x
  Gemfile
Owners: @jekyll/stability

Replace `String#=~` with `String#match?` (#7723)
  lib/jekyll/utils.rb
Owners: @jekyll/build

Update history to reflect merge of #7723 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Normalize paths in reports from `memory_profiler`
  rake/profile.rake
Owners: @jekyll/affinity-team-captains

Remove patch to modify config for kramdown (#7699)
  lib/jekyll/converters/markdown/kramdown_parser.rb
  test/test_kramdown.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7699 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update resources.md (#7598)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7598 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Introduce frontmatter in step 2 (#7704)
  docs/_docs/step-by-step/02-liquid.md
Owners: @jekyll/documentation

Update history to reflect merge of #7704 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
