Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #6325 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix History
  History.markdown
Owners: @jekyll/affinity-team-captains

document application of page.id (#6329)
  docs/_docs/variables.md
Owners: @jekyll/documentation

Update history to reflect merge of #6329 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.6.0.pre.beta1
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains

Docs: post's date can be overriden in YAML front matter (#6334)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #6334 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: `site.url` behavior on development and production environments (#6270)
  docs/_docs/variables.md
Owners: @jekyll/documentation

Update history to reflect merge of #6270 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typo in site.url section of variables.md :-[ (#6337)
  docs/_docs/variables.md
Owners: @jekyll/documentation

Update history to reflect merge of #6337 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update mime-types. (#6336)
  lib/jekyll/mime.types
Owners: @jekyll/build

Update history to reflect merge of #6336 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

use latest rubocop channel on codeclimate (#6333)
  .codeclimate.yml
Owners: none

Update history to reflect merge of #6333 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: updates (#6343)
  docs/_docs/deployment-methods.md
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #6343 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use a Schwartzian transform with custom sorting (#6342)
  benchmark/schwartzian_transform.rb
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #6342 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix precedence docs (#6346)
  docs/_docs/configuration.md
Owners: @jekyll/documentation

Update history to reflect merge of #6346 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Alias Drop#invoke_drop to Drop#[] (#6338)
  lib/jekyll/drops/drop.rb
  test/test_drop.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6338 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

bump rubies on Travis (#6366)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #6366 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add note to contributing docs about `script/console` (#6349)
  .github/CONTRIBUTING.markdown
  docs/_docs/contributing.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #6349 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix permalink example (#6375)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #6375 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Mutable drops should fallback to their own methods when a mutation isn't present (#6350)
  lib/jekyll/drops/drop.rb
  test/test_drop.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6350 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

skip adding binary files as posts (#6344)
  lib/jekyll/readers/post_reader.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6344 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typo in debug message. cc #6344
  lib/jekyll/readers/post_reader.rb
Owners: @jekyll/build

Don't break if bundler is not installed (#6377)
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Update history to reflect merge of #6377 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Jekyll 3.6.0 release post
  docs/_posts/2017-09-21-jekyll-3-6-0-released.markdown
Owners: @jekyll/documentation

Release :gem: 3.6.0
  History.markdown
  docs/_docs/code_of_conduct.md
  docs/_docs/contributing.md
  docs/_docs/history.md
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Doc y_day in docs/permalinks (#6244)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #6244 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
