Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

jekyll-plugin topic on GitHub
  docs/pages/resources.md
Owners: @jekyll/documentation

Typo
  docs/pages/resources.md
Owners: @jekyll/documentation

Refactoring: Fix benchmark code smell (#7211)
  benchmark/schwartzian_transform.rb
Owners: none

Update history to reflect merge of #7211 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add some minor improvements to image loading (#7214)
  docs/_sass/_style.scss
  docs/img/spacer.gif
  docs/pages/showcase.html
Owners: @jekyll/documentation

Update history to reflect merge of #7214 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add cucumber feature to test include_relative tag (#7213)
  features/include_relative_tag.feature
Owners: @jekyll/stability

Update history to reflect merge of #7213 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix minor grammatical error (#7215)
  docs/_docs/step-by-step/09-collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7215 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update showcase.yml
  docs/_data/showcase.yml
Owners: @jekyll/documentation

Add developer.spotify.com to the Jekyll Showcase (#7217)
  docs/_data/showcase.yml
Owners: @jekyll/documentation

Update history to reflect merge of #7217 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update link
  docs/_posts/2017-01-18-jekyll-3-4-0-released.markdown
Owners: @jekyll/documentation

Explain the help command
  docs/_docs/usage.md
Owners: @jekyll/documentation

removes quotes from markdown for assets (#7223)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #7223 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update forestry's sponsor url
  docs/_data/sponsors.yml
Owners: @jekyll/documentation

Security: fix `include` bypass of `EntryFilter#filter` symlink check (#7226)
  lib/jekyll/entry_filter.rb
  test/source/symlink-test/symlinked-file-outside-source
  test/test_entry_filter.rb
  test/test_layout_reader.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7226 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

clarified front matter requirement (#7234)
  docs/_docs/step-by-step/02-liquid.md
Owners: @jekyll/documentation

Update history to reflect merge of #7234 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump Rubocop to v0.59.0 (#7237)
  .rubocop.yml
  Gemfile
  lib/jekyll/cache.rb
  lib/jekyll/cleaner.rb
  lib/jekyll/collection.rb
  lib/jekyll/command.rb
  lib/jekyll/commands/doctor.rb
  lib/jekyll/commands/serve.rb
  lib/jekyll/configuration.rb
  lib/jekyll/converters/markdown.rb
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/drops/document_drop.rb
  lib/jekyll/drops/drop.rb
  lib/jekyll/drops/site_drop.rb
  lib/jekyll/entry_filter.rb
  lib/jekyll/excerpt.rb
  lib/jekyll/external.rb
  lib/jekyll/filters.rb
  lib/jekyll/filters/date_filters.rb
  lib/jekyll/filters/url_filters.rb
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/hooks.rb
  lib/jekyll/log_adapter.rb
  lib/jekyll/plugin_manager.rb
  lib/jekyll/reader.rb
  lib/jekyll/readers/layout_reader.rb
  lib/jekyll/readers/post_reader.rb
  lib/jekyll/readers/theme_assets_reader.rb
  lib/jekyll/regenerator.rb
  lib/jekyll/renderer.rb
  lib/jekyll/site.rb
  lib/jekyll/static_file.rb
  lib/jekyll/stevenson.rb
  lib/jekyll/tags/post_url.rb
  lib/jekyll/theme.rb
  lib/jekyll/url.rb
  lib/jekyll/utils.rb
  lib/jekyll/utils/platforms.rb
  test/test_regenerator.rb
Owners: @jekyll/stability, @jekyll/build, @jekyll/ecosystem

Update history to reflect merge of #7237 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Minor grammar fixes (#7238)
  docs/_docs/configuration/markdown.md
  docs/_docs/continuous-integration/circleci.md
  docs/_docs/deployment/automated.md
  docs/_docs/liquid.md
  docs/_docs/step-by-step/05-includes.md
  docs/_docs/upgrading/2-to-3.md
  docs/_tutorials/navigation.md
Owners: @jekyll/documentation

Update history to reflect merge of #7238 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Redirects Fixes #7230
  docs/_docs/index.md
  docs/_docs/installation/windows.md
  docs/_docs/posts.md
  docs/pages/showcase.html
Owners: @jekyll/documentation

explicit location of where to create blog.html (#7241)
  docs/_docs/step-by-step/08-blogging.md
Owners: @jekyll/documentation

Update history to reflect merge of #7241 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Note: building from scratch
  docs/_docs/step-by-step/01-setup.md
Owners: @jekyll/documentation

Add Kotn website
  docs/_data/showcase.yml
Owners: @jekyll/documentation

Unpublish unreleased Cache API tutorial
  docs/_tutorials/cache_api.md
Owners: @jekyll/documentation

Update history to reflect merge of #7228 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Unlock bundler
  .travis.yml
Owners: @jekyll/stability

cache matched defaults sets for given parameters (#6888)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #6888 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7229 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix a small grammar error/typo in the docs (#7260)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7260 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Check if scope applies to type before given path (#7263)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
