Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

typo
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Docs: Invite to use bundler
  docs/_docs/step-by-step/01-setup.md
Owners: @jekyll/documentation

add open graph image by default
  docs/_config.yml
Owners: @jekyll/documentation

update teams
  docs/pages/team.md
Owners: @jekyll/documentation

Initialize mutations for Drops only if necessary (#7657)
  lib/jekyll/drops/drop.rb
Owners: @jekyll/build

Update history to reflect merge of #7657 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.69.x (#7656)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7656 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce Array allocations via Jekyll::Cleaner (#7659)
  lib/jekyll/cleaner.rb
Owners: @jekyll/build

Update history to reflect merge of #7659 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Initialize and reset glob_cache only as necessary (#7658)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #7658 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Encode and unencode urls only as required (#7654)
  lib/jekyll/url.rb
Owners: @jekyll/build

Update history to reflect merge of #7654 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Profile allocations from a build session (#7646)
  .travis.yml
  Gemfile
  appveyor.yml
  rake/profile.rake
  script/memprof
Owners: @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #7646 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce string allocations with better alternatives (#7643)
  lib/jekyll/collection.rb
  lib/jekyll/drops/drop.rb
  lib/jekyll/entry_filter.rb
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/utils/platforms.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7643 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce allocations from Jekyll::Document instances (#7625)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #7625 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add `type` attribute to Document instances (#7406)
  lib/jekyll/document.rb
  lib/jekyll/excerpt.rb
  test/test_document.rb
  test/test_excerpt.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7406 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce allocations from where-filter (#7653)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #7653 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Simplify assigning classname to docs' aside-links (#7609)
  docs/_includes/docs_contents.html
Owners: @jekyll/documentation

Update history to reflect merge of #7609 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update small typo in contributing.md (#7671)
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Update history to reflect merge of #7671 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.70.x (#7678)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7678 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added documentation for Live Reload feature
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Link to sponsorship
  .github/FUNDING.yml
Owners: @jekyll/affinity-team-captains

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @jekyll/affinity-team-captains

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @jekyll/affinity-team-captains

docs: `jekyll serve` restart after changing config
  docs/_docs/step-by-step/09-collections.md
Owners: @jekyll/documentation

Update docs/_docs/configuration/options.md
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update options.md
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

HTTPS link to yaml.org (#7686)
  docs/_docs/front-matter.md
Owners: @jekyll/documentation

Revert memoizing Site#docs_to_write and #documents (#7684)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #7684 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
