Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #6841 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add Arch Linux instalation troubleshoot (#6782)
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Update history to reflect merge of #6782 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.8.0.pre.rc2
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains

Docs: Install Jekyll on macOS (#6881)
  docs/_docs/history.md
  docs/_docs/installation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6881 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Correct errors in troubleshooting.md
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

remove unnecessary characters
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Bump to Rubocop 0.55 (#6929)
  .codeclimate.yml
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6929 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix CodeClimate badges [ci skip] (#6930)
  README.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6930 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Refactor private method `HighlightBlock#parse_options` (#6822)
  lib/jekyll/tags/highlight.rb
Owners: @jekyll/build

Update history to reflect merge of #6822 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update index.md (#6933)
  docs/_docs/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #6933 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow front matter defaults to be applied properly to documents gathered under custom `collections_dir` (#6885)
  features/collections_dir.feature
  features/step_definitions.rb
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #6885 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.8.0
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Release post for v3.8.0 (#6849)
  docs/_posts/2018-03-15-jekyll-3-8-0-released.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #6849 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Installation Instructions for Ubuntu (#6925)
  docs/_docs/installation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6925 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

use jekyll-compose if installed (#6932)
  lib/jekyll/external.rb
Owners: @jekyll/ecosystem

Update history to reflect merge of #6932 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add liquid tag jekyll-flickr (#6946)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6946 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add 4.0 development post (#6934)
  docs/_posts/2018-03-14-development-update.md
Owners: @jekyll/documentation

Update history to reflect merge of #6934 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Updated casing of SaaS (#6949)
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #6949 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix rendering Liquid constructs in excerpts (#6945)
  features/post_excerpts.feature
  lib/jekyll/excerpt.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6945 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

WIP: Do not advise users to install Jekyll outside of Bundler (#6927)
  docs/_docs/quickstart.md
  docs/index.html
Owners: @jekyll/documentation

Update history to reflect merge of #6927 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

remove unused error class (#6511)
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #6511 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Drop support for Ruby 2.1 and 2.2 (#6560)
  .rubocop.yml
  .travis.yml
  Gemfile
  appveyor.yml
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #6560 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

remove unnecessary Jekyll::Page constant (#6770)
  lib/jekyll/page.rb
Owners: @jekyll/build

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
