Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Add Utils::Internet.connected? to determine whether host machine has internet connection. (#5870)
  lib/jekyll/utils.rb
  lib/jekyll/utils/internet.rb
  test/test_utils.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #5870 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add latin mode to slugify (#6509)
  docs/_docs/templates.md
  jekyll.gemspec
  lib/jekyll.rb
  lib/jekyll/utils.rb
  test/test_utils.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #6509 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove unnecessary encoding comment (#6513)
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/utils/ansi.rb
Owners: @jekyll/build

Update history to reflect merge of #6513 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Style: Remove line after magic comment
  lib/jekyll/utils/ansi.rb
Owners: @jekyll/build

Update fmt (#6514)
  script/fmt
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6514 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

filter relative_url should keep absolute urls with scheme/authority (#6490)
  lib/jekyll/filters/url_filters.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6490 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Assert raising Psych::SyntaxError when `"strict_front_matter"=>true` (#6520)
  lib/jekyll/document.rb
  test/test_convertible.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6520 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

enable `Style/UnneededCapitalW` cop (#6526)
  .rubocop.yml
  lib/jekyll/commands/serve.rb
  lib/jekyll/converters/markdown.rb
Owners: @jekyll/build

Update history to reflect merge of #6526 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

use Kernel#Array instead of explicit Array check (#6525)
  lib/jekyll/configuration.rb
Owners: @jekyll/stability

Update history to reflect merge of #6525 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Refactor method to reduce ABC Metric size (#6529)
  lib/jekyll/commands/serve.rb
Owners: @jekyll/build

Update history to reflect merge of #6529 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

remove parentheses around arguments to raise (#6532)
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #6532 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add jekyll-pwa-plugin (#6533)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6533 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Log kramdown warnings if log level is WARN (#6522)
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/converters/smartypants.rb
  test/test_kramdown.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6522 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

use double-quotes around gem name (#6535)
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Update history to reflect merge of #6535 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow URL filters to work directly with documents (#6478)
  lib/jekyll/filters/url_filters.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6478 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

[ImgBot] optimizes images (#6519)
  docs/img/jekyll-sticker.jpg
  docs/img/jekylllayoutconcept.png
  test/fixtures/test-theme/assets/img/logo.png
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #6519 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Site: Lossless image optimization
  docs/_posts/2014-06-04-jekyll-stickers-1-dollar-stickermule.markdown
  docs/img/jekyll-sticker.jpg
  docs/img/jekyll-sticker.png
  docs/img/jekylllayoutconcept.png
  docs/img/twitter-card.png
  test/fixtures/test-theme/assets/img/logo.png
Owners: @jekyll/documentation, @jekyll/stability

Dependencies: upgrade to toml 0.2.0 (#6541)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6541 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Site: Back to original main navigation (#6544)
  docs/404.html
  docs/_includes/primary-nav-items.html
  docs/community/index.md
  docs/help/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #6544 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add extra smartify test
  test/test_filters.rb
Owners: @jekyll/stability

This plugin has been integrated into Jekyll Core (#6548)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6548 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Lock to cucumber 3.0.1 on Ruby 2.1 (#6546)
  Gemfile
Owners: @jekyll/stability

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
