Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #6609 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update classifier-reborn to 2.2.0 (#6631)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6631 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

correct custom inspect string for Jekyll::Page
  lib/jekyll/page.rb
Owners: @jekyll/build

Fix: Update link to i18n_filter plugin (#6638)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6638 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve docs styling for code to be run in shell (#6641)
  docs/_sass/_pygments.scss
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6641 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Correct WordPress capitalization (#6645)
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #6645 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Remove requirements for Jekyll 2.x
  docs/_docs/installation.md
Owners: @jekyll/documentation

Add Tweetsert, Stickyposts, Paginate::Content (#6651)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6651 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update license year
  LICENSE
Owners: @jekyll/affinity-team-captains

Switch to an actively-maintained TOML parser. (#6652)
  Gemfile
  lib/jekyll/configuration.rb
  test/test_configuration.rb
Owners: @jekyll/stability

Update history to reflect merge of #6652 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix permalink icon markup in news-item layout (#6639)
  docs/_layouts/news_item.html
Owners: @jekyll/documentation

Update history to reflect merge of #6639 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Post: Jekyll 3.7.0 released (#6634)
  docs/_posts/2018-01-02-jekyll-3-7-0-released.md
Owners: @jekyll/documentation

Update history to reflect merge of #6634 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Do not coerce layout paths in theme-gem to the source directory (#6603)
  features/incremental_rebuild.feature
  lib/jekyll/renderer.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6603 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.7.0
  History.markdown
  docs/_docs/history.md
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Fix date
  docs/_posts/2018-01-02-jekyll-3-7-0-released.md
Owners: @jekyll/documentation

fix post year
  docs/_posts/2018-01-02-jekyll-3-7-0-released.md
Owners: @jekyll/documentation

Fix link
  docs/_posts/2018-01-02-jekyll-3-7-0-released.md
Owners: @jekyll/documentation

Docs: LiveReload option
  docs/_docs/usage.md
Owners: @jekyll/documentation

Typo
  docs/_docs/usage.md
Owners: @jekyll/documentation

CI: Test against Ruby 2.5.0 (#6664)
  .travis.yml
  appveyor.yml
Owners: @jekyll/stability

Update history to reflect merge of #6664 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Mention previous config key for plugins
  docs/_docs/plugins.md
Owners: @jekyll/documentation

typo
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Display latest version in header (#6676)
  docs/_config.yml
  docs/_includes/header.html
  rake/site.rake
Owners: @jekyll/documentation, @jekyll/affinity-team-captains

Update history to reflect merge of #6676 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update version in `config.yml` via YAML load / dump (#6677)
  docs/_config.yml
  rake/site.rake
Owners: @jekyll/documentation, @jekyll/affinity-team-captains

Update history to reflect merge of #6677 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix: Add note about posts directory in context of custom collections directory (#6680)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #6680 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

inform that symlinks are not allowed in safe mode (#6670)
  lib/jekyll/tags/include.rb
  test/test_tags.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6670 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
