Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #7031 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update drafts.md (#7037)
  docs/_docs/drafts.md
Owners: @jekyll/documentation

Update history to reflect merge of #7037 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow i18n v0.9.5 and higher (#7044)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #7044 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7050 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Listed the keyll-target-blank plugin in plugins list. (#7046)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7046 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release :gem: 3.8.3
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/_posts/2018-06-04-jekyll-3-8-3-released.markdown
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

[Doc] Fixing a small typo (#7058)
  docs/_tutorials/using-jekyll-with-bundler.md
Owners: @jekyll/documentation

Update history to reflect merge of #7058 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Hints for some Improved Travis Config in Doc (#7049)
  docs/_docs/continuous-integration/travis-ci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7049 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove Gemnasium badge
  README.markdown
Owners: @jekyll/affinity-team-captains

Remember to release docs gem (#7066)
  rake/release.rake
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7066 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added plugin json-get. (#7086)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7086 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update travis-ci.md (#7089)
  docs/_docs/continuous-integration/travis-ci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7089 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Adding `jekyll-info` plugin (#7091)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7091 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use assert_include (#7093)
  test/test_generated_site.rb
Owners: @jekyll/stability

Update history to reflect merge of #7093 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop version to 0.57.x (#7078)
  .rubocop.yml
  Gemfile
  lib/jekyll/drops/drop.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7078 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add sponsor display in website footer
  docs/_data/sponsors.yml
  docs/_includes/footer.html
  docs/_sass/_style.scss
Owners: @jekyll/documentation

add forestry logo
  docs/_data/sponsors.yml
  docs/_docs/contributing.md
  docs/_includes/footer.html
  docs/img/forestry-logo.png
Owners: @jekyll/documentation

add sponsoring post
  docs/_posts/2018-06-26-jekyll-sponsoring.markdown
Owners: @jekyll/documentation

Example of CircleCI deployment through CircleCI v2 (#7024)
  docs/_docs/continuous-integration/circleci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7024 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

GitHub enables you to use themes from other repos (#7112)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7112 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix: Escape Liquid
  docs/_docs/continuous-integration/circleci.md
Owners: @jekyll/documentation

Updates to v1.4 (#7105)
  CODE_OF_CONDUCT.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7105 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Instructions to view theme’s files under Linux (#7095)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7095 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update item_property to return numbers as numbers instead of strings (#6608)
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6608 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
