Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Replace references to 'master' branch with 'main' (#8657)
  docs/_docs/continuous-integration/github-actions.md
Owners: @jekyll/documentation

ruby-devel required for OpenSuse (#8640)
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

Fix typo in 02-liquid.md (#8637)
  docs/_docs/step-by-step/02-liquid.md
Owners: @jekyll/documentation

Update filters.md (#8655)
  docs/_docs/plugins/filters.md
Owners: @jekyll/documentation

Document JEKYLL_LOG_LEVEL and JEKYLL_NO_BUNDLER_REQUIRE (#8553)
  docs/_data/config_options/build.yml
Owners: @jekyll/documentation

Spelling (#8661)
  History.markdown
  benchmark/find-filter-vs-where-first-filters.rb
  docs/_data/jekyll_variables.yml
  docs/_data/showcase.yml
  docs/_docs/continuous-integration/github-actions.md
  docs/_docs/contributing.md
  docs/_docs/deployment/third-party.md
  docs/_docs/history.md
  docs/_docs/installation/windows.md
  docs/_docs/maintaining/releasing-a-new-version.md
  docs/_docs/plugins/hooks.md
  docs/_posts/2013-05-12-jekyll-1-0-2-released.markdown
  docs/_posts/2014-06-28-jekyll-turns-21-i-mean-2-1-0.markdown
  docs/_posts/2016-05-18-jekyll-3-1-4-released.markdown
  docs/_posts/2018-03-14-development-update.md
  docs/_tutorials/index.md
  docs/_tutorials/video-walkthroughs.md
  features/post_excerpts.feature
  features/rendering.feature
  lib/jekyll.rb
  lib/jekyll/cleaner.rb
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/deprecator.rb
  lib/jekyll/excerpt.rb
  lib/jekyll/filters.rb
  lib/jekyll/static_file.rb
  lib/jekyll/utils.rb
  test/source/_tutorials/graduation-day.md
  test/test_entry_filter.rb
  test/test_kramdown.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/stability, @jekyll/build

fix: pin rubocop to 1.12 due to error with ruby 2.4 (#8651)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8651 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: add overview of .jekyll-cache dir (#8648)
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update history to reflect merge of #8648 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Action configuration to use "main" as default repo (#8578)
  docs/_docs/continuous-integration/github-actions.md
Owners: @jekyll/documentation

docs: clarify where .jekyll-metadata comes from (#8646)
  docs/_data/config_options/build.yml
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update history to reflect merge of #8646 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(styles): align hash
  test/test_kramdown.rb
Owners: @jekyll/stability

style: run rubocop -a (#8654)
  lib/jekyll/cache.rb
Owners: none

Update history to reflect merge of #8654 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

razorops cicd added (#8656)
  docs/_docs/continuous-integration/razorops.md
  docs/_docs/deployment/automated.md
Owners: @jekyll/documentation

Update history to reflect merge of #8656 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Specify default port and host for serve commands (#8624)
  docs/_data/config_options/serve.yml
Owners: @jekyll/documentation

Update history to reflect merge of #8624 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update third-party.md (#8652)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #8652 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add documentation for Sass configuration options (#8587)
  docs/_docs/assets.md
  docs/_docs/configuration.md
  docs/_docs/configuration/default.md
  docs/_docs/configuration/sass.md
Owners: @jekyll/documentation

Update history to reflect merge of #8587 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Correct a typo for word (#8674)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Use official Ruby setup GH action (#8614)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8614 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improvements to CSS (#7834)
  docs/_sass/_font-awesome.scss
  docs/_sass/_fonts.scss
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #7834 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Spell check action for markdown documentation (#8675)
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/only.txt
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spelling.yml
  docs/_docs/continuous-integration/razorops.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #8675 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update expect to cover docs/_posts (#8677)
  .github/actions/spelling/expect.txt
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8677 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert "style: run rubocop -a" (#8676)
  lib/jekyll/cache.rb
Owners: none

Update history to reflect merge of #8676 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Load Jekyll plugins from BUNDLE_GEMFILE location (#8585)
  lib/jekyll/plugin_manager.rb
  test/test_plugin_manager.rb
Owners: @jekyll/ecosystem, @jekyll/stability

Update history to reflect merge of #8585 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add formcarry to forms section (#8471)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #8471 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add step to set SDKROOT (#8478)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
