Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #6575 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

drop forwarding to private methods (#6577)
  lib/jekyll/theme_builder.rb
Owners: @jekyll/ecosystem

Update history to reflect merge of #6577 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #5937 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade pygments to v1.x (#5937)
  Gemfile
  lib/jekyll/tags/highlight.rb
  test/test_redcarpet.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/build

Bump yajl-ruby (#6582)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #6582 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6584 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

cleanup test_redcarpet.rb (#6584)
  test/test_redcarpet.rb
Owners: @jekyll/stability

Add PageWithoutAFile class from jekyll plugins (#6556)
  lib/jekyll.rb
  lib/jekyll/page_without_a_file.rb
  test/fixtures/physical.html
  test/test_page_without_a_file.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6556 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

last released version is at 3.6.2
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains

Dependency: Bump jekyll-watch to 2.0 (#6589)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #6589 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Build for production
  docs/_docs/usage.md
Owners: @jekyll/documentation

Docs: Avoid Kramdown warnings
  docs/_docs/history.md
Owners: @jekyll/documentation

Dev: Run preview in incremental mode
  rake/site.rake
Owners: @jekyll/affinity-team-captains

Docs: Add title and anchor
  docs/_docs/usage.md
Owners: @jekyll/documentation

Add LiveReload functionality to Jekyll. (#5142)
  Gemfile
  jekyll.gemspec
  lib/jekyll/commands/serve.rb
  lib/jekyll/commands/serve/live_reload_reactor.rb
  lib/jekyll/commands/serve/livereload_assets/livereload.js
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/commands/serve/websockets.rb
  lib/jekyll/utils.rb
  lib/jekyll/utils/thread_event.rb
  test/test_commands_serve.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #5142 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update History.markdown
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove link to severly outdated asset plugin (#6613)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6613 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove paginate check (#6606)
  lib/jekyll/configuration.rb
  test/test_configuration.rb
Owners: @jekyll/stability

Update history to reflect merge of #6606 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Default time zone depends upon server (#6617)
  docs/_docs/configuration.md
Owners: @jekyll/documentation

Update history to reflect merge of #6617 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add `disqus-for-jekyll` to plugins. (#6618)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6618 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update "Requirements" for Ruby version (#6623)
  docs/_docs/installation.md
Owners: @jekyll/documentation

Update history to reflect merge of #6623 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cleanup LiveReloadReactor (#6607)
  lib/jekyll/commands/serve/live_reload_reactor.rb
Owners: @jekyll/build

Update history to reflect merge of #6607 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Register reload hooks in Server#process (#6605)
  lib/jekyll/commands/serve.rb
Owners: @jekyll/build

Update history to reflect merge of #6605 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

memoize path to metadata file (#6602)
  lib/jekyll/regenerator.rb
Owners: @jekyll/build

Update history to reflect merge of #6602 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add jekyll-category-pages plugin (#6632)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6632 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

use `require_relative` to load Jekyll classes (#6609)
  lib/jekyll/liquid_renderer.rb
Owners: @jekyll/build
