Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Reduce allocations by using #each_with_object (#7758)
  lib/jekyll/configuration.rb
  lib/jekyll/convertible.rb
  lib/jekyll/site.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7758 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Memoize fallback_data for Drop (#7728)
  lib/jekyll/drops/url_drop.rb
Owners: @jekyll/build

Update history to reflect merge of #7728 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use String#end_with? to check if entry is a backup (#7701)
  lib/jekyll/entry_filter.rb
Owners: @jekyll/build

Update history to reflect merge of #7701 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix 404
  docs/_posts/2019-08-04-jekyll-4-0-0-pre-beta1-released.markdown
Owners: @jekyll/documentation

Remove configuration of theme sass files from Core (#7290)
  Gemfile
  features/rendering.feature
  features/theme.feature
  jekyll.gemspec
  lib/jekyll/theme.rb
  test/fixtures/test-theme/assets/style.scss
  test/test_filters.rb
  test/test_sass.rb
  test/test_site.rb
  test/test_theme.rb
  test/test_theme_assets_reader.rb
Owners: @jekyll/stability, @jekyll/ecosystem

Update history to reflect merge of #7290 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use jekyll-sass-converter-2.0 by default (#7778)
  Gemfile
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #7778 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Using jekyll-sass-converter 2.0 is a major change
  History.markdown
Owners: @jekyll/affinity-team-captains

Cleanup History
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade documentation for Jekyll v4.0
  .travis.yml
  docs/_config.yml
  docs/_data/ruby.yml
  docs/_docs/collections.md
  docs/_docs/front-matter.md
  docs/_docs/installation.md
  docs/_docs/installation/macos.md
  docs/_docs/liquid/filters.md
  docs/_docs/liquid/tags.md
  docs/_docs/permalinks.md
  docs/_docs/ruby-101.md
  docs/_docs/themes.md
  docs/_docs/upgrading/3-to-4.md
  docs/_docs/usage.md
  docs/_includes/news_contents_mobile.html
  docs/latest_version.txt
  jekyll.gemspec
  lib/jekyll/commands/new.rb
Owners: @jekyll/stability, @jekyll/documentation, @jekyll/build

docs: fix broken link [ci-skip]
  docs/_docs/step-by-step/02-liquid.md
Owners: @jekyll/documentation

Update Ruby version used in Travis-CI example (#7783)
  docs/_docs/continuous-integration/travis-ci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7783 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

History: Place Bug Fixes after Minor Enhancements
  History.markdown
Owners: @jekyll/affinity-team-captains

Documentation for binary operators in where_exp (#7786)
  docs/_docs/liquid/filters.md
Owners: @jekyll/documentation

Update history to reflect merge of #7786 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Actually conditionally include liquid-c (#7792)
  lib/jekyll.rb
Owners: @jekyll/build

Update history to reflect merge of #7792 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Adding SmartForms as Forms service (#7794)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7794 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Test number_like regex on stringified property (#7788)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #7788 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Jekyll v4.0 release (#7782)
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/_posts/2019-08-19-jekyll-4-0-0-released.markdown
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #7782 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 2019-08-19-jekyll-4-0-0-released.markdown
  docs/_posts/2019-08-19-jekyll-4-0-0-released.markdown
Owners: @jekyll/documentation

blog typo 'and support' unfinished sentence (#7797)
  docs/_posts/2019-08-19-jekyll-4-0-0-released.markdown
Owners: @jekyll/documentation

Memoize absolute_url and relative_url filters (#7793)
  lib/jekyll/filters/url_filters.rb
Owners: @jekyll/build

Update history to reflect merge of #7793 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

serve: add support for ECC certificates (#7768)
  lib/jekyll/commands/serve.rb
Owners: @jekyll/build

Update history to reflect merge of #7768 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add dropped title: Staff to the code (#7805)
  docs/_docs/step-by-step/09-collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7805 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Clarify docs for static files in collection (#7812)
  docs/_docs/collections.md
  docs/_docs/upgrading/3-to-4.md
Owners: @jekyll/documentation

Update history to reflect merge of #7812 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rephrase the CircleCI v2 section (#7815)
  docs/_docs/continuous-integration/circleci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7815 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
