Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #8478 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update History.markdown
  History.markdown
Owners: @jekyll/affinity-team-captains

Update expect.txt
  .github/actions/spelling/expect.txt
Owners: @jekyll/affinity-team-captains

Update expect.txt
  .github/actions/spelling/expect.txt
Owners: @jekyll/affinity-team-captains

fix(security): CVE-2021-28834 (#8680)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #8680 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve the "Markdown Options" Docs (#8681)
  .github/actions/spelling/expect.txt
  docs/_docs/configuration/markdown.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #8681 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize `Jekyll::Utils.parse_date` (#8425)
  benchmark/parse-date
  lib/jekyll/utils.rb
Owners: @jekyll/build

Update history to reflect merge of #8425 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add 'webrick' warning note to "Quickstart" Docs (#8727)
  docs/_docs/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #8727 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update windows.md (#8701)
  docs/_docs/installation/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #8701 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

IRC networks - Libera, Freenode (#8706)
  docs/_docs/community/community.md
Owners: @jekyll/documentation

Update history to reflect merge of #8706 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump check-spelling/check-spelling from 0.0.18 to 0.0.19 (#8740)
  .github/workflows/spelling.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8740 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve GitHub Flavored Markdown Docs (#8684)
  docs/_docs/configuration/markdown.md
  docs/_tutorials/convert-site-to-jekyll.md
Owners: @jekyll/documentation

Update history to reflect merge of #8684 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop from 1.12 to 1.18 and min ruby from 2.4 to 2.5 (#8741)
  .github/workflows/ci.yml
  .rubocop.yml
  Gemfile
  docs/_data/ruby.yml
  jekyll.gemspec
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/external.rb
  lib/jekyll/page.rb
  lib/jekyll/renderer.rb
  lib/jekyll/tags/include.rb
  test/test_utils.rb
Owners: @jekyll/affinity-team-captains, @jekyll/stability, @jekyll/documentation, @jekyll/build, @jekyll/ecosystem

Update history to reflect merge of #8741 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

use location.protocol to inject the livereload script instead of forcing http (#8718)
  lib/jekyll/commands/serve/servlet.rb
Owners: @jekyll/build

Update history to reflect merge of #8718 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Enable Rubocop accessor grouping, fix existing offenses (#8293)
  .rubocop.yml
  lib/jekyll/cache.rb
  lib/jekyll/commands/serve/live_reload_reactor.rb
  lib/jekyll/drops/unified_payload_drop.rb
  lib/jekyll/excerpt.rb
  lib/jekyll/layout.rb
  lib/jekyll/page.rb
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #8293 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixing URL in MacOS install for rbenv-doctor (#8693)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #8693 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Respect collections_dir config within include tag (#8756)
  features/incremental_rebuild.feature
  lib/jekyll/tags/include.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8756 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Tags:Highlight: Decomposed HTMLLegacy formatter (#8623)
  lib/jekyll/tags/highlight.rb
Owners: @jekyll/build

Update history to reflect merge of #8623 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix RuboCop offenses in tests
  test/test_document.rb
  test/test_utils.rb
Owners: @jekyll/stability

Remove trailing whitespace in _config.yml template (#8774)
  lib/site_template/_config.yml
Owners: @jekyll/stability

Fix regression in Convertible module from v4.2.0 (#8786)
  features/rendering.feature
  lib/jekyll/convertible.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8786 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update troubleshooting.md (#8777)
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Update history to reflect merge of #8777 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
