Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #8538 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove GitHub Pages content which is in GitHub docs (#8533)
  docs/_docs/github-pages.md
Owners: @jekyll/documentation

Update history to reflect merge of #8533 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow dependabot to keep github actions up-to-date (#8540)
  .github/dependabot.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8540 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Regenerate supported mime types (#8542)
  lib/jekyll/mime.types
Owners: @jekyll/build

Update history to reflect merge of #8542 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update actions/cache requirement to v2.1.3 (#8543)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8543 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Step By Step Instructions Review (#8399)
  docs/_docs/step-by-step/01-setup.md
  docs/_docs/step-by-step/02-liquid.md
  docs/_docs/step-by-step/03-front-matter.md
  docs/_docs/step-by-step/04-layouts.md
Owners: @jekyll/documentation

Update history to reflect merge of #8399 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore: check-html-links
  docs/_data/jekyll_variables.yml
  docs/_docs/community/community.md
  docs/_docs/configuration/front-matter-defaults.md
  docs/_docs/continuous-integration/github-actions.md
  docs/_docs/maintaining/becoming-a-maintainer.md
  docs/_docs/maintaining/merging-a-pull-request.md
  docs/_docs/pages.md
  docs/_docs/step-by-step/02-liquid.md
  docs/_docs/support.md
  docs/_posts/2015-11-17-jekyll-3-0-1-released.markdown
  docs/_posts/2017-10-19-diversity-open-source.markdown
  docs/_posts/2018-01-02-jekyll-3-7-0-released.md
  docs/_posts/2018-02-19-meet-jekyll-s-new-lead-developer.markdown
  docs/_posts/2020-05-27-jekyll-4-1-0-released.markdown
  docs/_tutorials/convert-site-to-jekyll.md
Owners: @jekyll/documentation

Pin rubocop version (#8564)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8564 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

style: add rubocop 1.9 cops (#8567)
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8567 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 3-to-4.md (#8572)
  docs/_docs/upgrading/3-to-4.md
Owners: @jekyll/documentation

Update history to reflect merge of #8572 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(deps): rubocop 1.10
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Cross Version Testing Locally and Faster CI (#8610)
  .github/workflows/ci.yml
  .rubocop.yml
  Earthfile
  docs/_docs/contributing.md
  features/post_excerpts.feature
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #8610 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Clarify relative_url and absolute_url filters (#8612)
  docs/_data/jekyll_filters.yml
Owners: @jekyll/documentation

Update current Ruby version to 3.0.0 (#8596)
  docs/_data/ruby.yml
Owners: @jekyll/documentation

Update macOS install docs for Big Sur (#8595)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Relax dependency version constraints (#8586)
  jekyll.gemspec
Owners: @jekyll/stability

styles: Rubocop 1.12
  .rubocop.yml
  lib/jekyll/converters/markdown/kramdown_parser.rb
  lib/jekyll/filters.rb
  lib/jekyll/frontmatter_defaults.rb
  lib/jekyll/path_manager.rb
  lib/jekyll/site.rb
  lib/jekyll/static_file.rb
Owners: @jekyll/build, @jekyll/stability

Update include tag to be more permissive (#8618)
  lib/jekyll/tags/include.rb
  test/source/_includes/params@2.0.html
  test/test_tags.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8618 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

liquid: Replace "mutually exclusive" with "orthogonal" (#8584)
  docs/_docs/configuration/liquid.md
Owners: @jekyll/documentation

Fix for important missing step in macOS Installation Docs: Add the Homebrew gems directory to the PATH (#8496)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #8496 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use latest Jekyll-action configuration (#8579)
  docs/_docs/continuous-integration/github-actions.md
Owners: @jekyll/documentation

Update history to reflect merge of #8579 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: troubleshoot macOS with ARM64 architecture (#8560)
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Update history to reflect merge of #8560 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Jekyll 3.9.1 info to the docs website
  History.markdown
  docs/_docs/history.md
  docs/_posts/2021-04-08-jekyll-3-9-1-released.markdown
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Bump actions/cache from v2.1.3 to v2.1.5 (#8645)
  .github/workflows/docs.yml
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Update community.md and fix up IRC reference link (#8672)
  docs/_docs/community/community.md
Owners: @jekyll/documentation

Fix typo in contributing.md (#8666)
  docs/_docs/contributing.md
Owners: @jekyll/documentation

Update macos.md (#8663)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
