Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

chore: simplify require for Jekyll::VERSION (#8057)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #8057 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove version-constraint relaxation for i18n gem (#8055)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #8055 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Mirror `spec.homepage` as `metadata["homepage_uri"]` (#8056)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #8056 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 09-collections.md (#8060)
  docs/_docs/step-by-step/09-collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #8060 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove extra paragraph tags (#8063)
  docs/_docs/step-by-step/08-blogging.md
Owners: @jekyll/documentation

Update history to reflect merge of #8063 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use `layout.path` when rendering the Liquid layout (#8069)
  lib/jekyll/renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #8069 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add PageDrop to provide Liquid templates with data (#7992)
  docs/_docs/pages.md
  lib/jekyll/drops/page_drop.rb
  lib/jekyll/page.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/documentation, @jekyll/build, @jekyll/stability

Update history to reflect merge of #7992 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize `Kramdown::JekyllDocument#to_html` calls (#8041)
  lib/jekyll/converters/markdown/kramdown_parser.rb
Owners: @jekyll/build

Update history to reflect merge of #8041 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce Pathname objects from front matter defaults (#8067)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #8067 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add default front matter for tutorials collection (#8081)
  docs/_config.yml
  docs/_tutorials/cache-api.md
  docs/_tutorials/convert-site-to-jekyll.md
  docs/_tutorials/custom-404-page.md
  docs/_tutorials/index.md
  docs/_tutorials/navigation.md
  docs/_tutorials/orderofinterpretation.md
  docs/_tutorials/using-jekyll-with-bundler.md
  docs/_tutorials/video-walkthroughs.md
Owners: @jekyll/documentation

Update history to reflect merge of #8081 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Quicker categories for documents without superdirs (#7987)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #7987 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce array allocations from `StaticFile#path` (#8083)
  lib/jekyll/static_file.rb
Owners: @jekyll/build

Update history to reflect merge of #8083 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.81.x
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Utilize relative_url filter in documentation site (#8089)
  docs/_docs/assets.md
  docs/_docs/collections.md
  docs/_docs/community/community.md
  docs/_docs/configuration.md
  docs/_docs/configuration/environments.md
  docs/_docs/configuration/front-matter-defaults.md
  docs/_docs/configuration/options.md
  docs/_docs/contributing.md
  docs/_docs/datafiles.md
  docs/_docs/deployment.md
  docs/_docs/deployment/automated.md
  docs/_docs/front-matter.md
  docs/_docs/github-pages.md
  docs/_docs/index.md
  docs/_docs/installation.md
  docs/_docs/installation/macos.md
  docs/_docs/installation/windows.md
  docs/_docs/liquid.md
  docs/_docs/liquid/tags.md
  docs/_docs/plugins.md
  docs/_includes/docs_contents.html
  docs/_includes/docs_contents_mobile.html
  docs/_includes/footer.html
  docs/_includes/header.html
  docs/_includes/mobile-nav-items.html
  docs/_includes/news_contents.html
  docs/_includes/news_contents_mobile.html
  docs/_includes/news_item.html
  docs/_includes/news_item_archive.html
  docs/_includes/primary-nav-items.html
  docs/_includes/section_nav_tutorials.html
  docs/_includes/top.html
  docs/_includes/tutorials_contents.html
  docs/_includes/tutorials_contents_mobile.html
  docs/_layouts/news_item.html
  docs/_tutorials/index.md
  docs/pages/404.html
  docs/pages/index.html
  docs/pages/resources.md
  docs/pages/showcase.html
Owners: @jekyll/documentation

Update history to reflect merge of #8089 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Simplify `Jekyll::Renderer#validate_layout` (#8064)
  lib/jekyll/renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #8064 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Render tutorial metadata in documentation site (#8092)
  docs/_layouts/tutorials.html
  docs/_sass/_style.scss
  docs/_tutorials/cache-api.md
  docs/_tutorials/convert-site-to-jekyll.md
  docs/_tutorials/custom-404-page.md
  docs/_tutorials/navigation.md
  docs/_tutorials/orderofinterpretation.md
  docs/_tutorials/using-jekyll-with-bundler.md
  docs/_tutorials/video-walkthroughs.md
Owners: @jekyll/documentation

Update history to reflect merge of #8092 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump Ruby versions on Travis builds (#8088)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #8088 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Create CSV to table tutorial (#8090)
  docs/_data/tutorials.yml
  docs/_tutorials/csv-to-table.md
Owners: @jekyll/documentation

Update history to reflect merge of #8090 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix: padding on liquid code blocks
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Make corrections to tabulating CSV-data tutorial
  docs/_tutorials/csv-to-table.md
Owners: @jekyll/documentation

Add version badge for Custom Sorting of Documents (#8098)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #8098 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update front-matter.md (#8097)
  docs/_docs/front-matter.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
