Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Changed order of steps (#7503)
  docs/_docs/continuous-integration/circleci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7503 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Support for binary operators in where_exp filter (#6998)
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #6998 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

dev: update gemspec (#7425)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #7425 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: lastest Ruby is 2.6.1
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Hosting with AWS Amplify (#7510)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Update history to reflect merge of #7510 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

bump Rubocop
  Gemfile
Owners: @jekyll/stability

Test with Ruby 2.6 on AppVeyor [skip travis] (#7518)
  appveyor.yml
Owners: @jekyll/stability

Update history to reflect merge of #7518 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Show the code for sample generator first [skip ci]
  docs/_docs/plugins/generators.md
Owners: @jekyll/documentation

Notify users on Windows to use tzinfo-1.x series (#7520)
  docs/_docs/installation/windows.md
Owners: @jekyll/documentation

Update convert-existing-site-to-jekyll.md (#7524)
  docs/_tutorials/convert-existing-site-to-jekyll.md
Owners: @jekyll/documentation

Update history to reflect merge of #7524 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add CloudSh to resource page. (#7497)
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7497 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Redirect docs/resources
  docs/_docs/resources.md
  docs/pages/resources.md
Owners: @jekyll/documentation

Update Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @jekyll/affinity-team-captains

Configure cache_dir (#7232)
  features/cache.feature
  lib/jekyll/cache.rb
  lib/jekyll/site.rb
  test/test_site.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7232 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Check if var exists before include tag (#7530)
  docs/_docs/includes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7530 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add missing Forestry logo [skip-ci]
  docs/_posts/2018-08-01-jekyll-sponsoring.markdown
  docs/img/forestry-logo.svg
Owners: @jekyll/documentation

make it compatible with category feed [skip-ci]
  rake/site.rake
Owners: @jekyll/affinity-team-captains

changed future post loglevel to warn to help user narrow down issues (#7527)
  lib/jekyll/readers/post_reader.rb
Owners: @jekyll/build

Update history to reflect merge of #7527 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow custom sorting of collection documents (#7427)
  docs/_docs/collections.md
  features/collections.feature
  features/collections_dir.feature
  features/step_definitions.rb
  lib/jekyll/collection.rb
  test/source/_tutorials/dive-in-and-publish-already.md
  test/source/_tutorials/extending-with-plugins.md
  test/source/_tutorials/getting-started.md
  test/source/_tutorials/graduation-day.md
  test/source/_tutorials/lets-roll.md
  test/source/_tutorials/tip-of-the-iceberg.md
  test/test_collections.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7427 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Handle files with trailing dots in their basename (#7315)
  features/collections.feature
  lib/jekyll/document.rb
  lib/jekyll/page.rb
  lib/jekyll/static_file.rb
  test/source/_methods/trailing-dots...md
  test/source/_posts/2018-10-12-trailing-dots...markdown
  test/source/trailing-dots...md
  test/test_collections.rb
  test/test_document.rb
  test/test_filters.rb
  test/test_page.rb
  test/test_site.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7315 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

There are 59 test posts now
  test/test_generated_site.rb
Owners: @jekyll/stability

Add dummy content to appease classifier-reborn
  test/source/_posts/2018-10-12-trailing-dots...markdown
Owners: @jekyll/stability

Added formX to form-backend resources (#7536)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7536 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Clarify docs on collections regarding the need for front matter (#7538)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7538 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Always exclude certain paths from being processed (#7188)
  docs/_docs/upgrading/3-to-4.md
  features/site_configuration.feature
  lib/jekyll/configuration.rb
  lib/jekyll/entry_filter.rb
  lib/jekyll/reader.rb
  lib/site_template/_config.yml
  test/test_configuration.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7188 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
