Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Echo PATH to .zshenv for newer macOS's (#8483)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Reduce allocations from computing item property (#8485)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #8485 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Compute hash of Gemfile.lock in workflow
  .github/workflows/third-party.yml
Owners: @jekyll/affinity-team-captains

Add Arengu to form services list documentation (#8414)
  docs/pages/resources.md
Owners: @jekyll/documentation

Optimize Page#dir with a private method (#8489)
  lib/jekyll/page.rb
Owners: @jekyll/build

Update history to reflect merge of #8489 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Shell-based instructions
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

docs: shell-based instructions
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

docs: update deployment docs for 21yunbox (#8494)
  docs/_docs/deployment/third-party.md
Owners: @jekyll/documentation

Migrate TravisCI jobs to GitHub Actions (#8492)
  .github/workflows/ci.disabled_workflow
  .github/workflows/ci.yml
  .travis.yml
  README.markdown
Owners: @jekyll/affinity-team-captains, @jekyll/stability

Update history to reflect merge of #8492 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix: showcase (#8504)
  docs/_config.yml
  docs/_data/showcase.yml
  docs/pages/showcase.html
Owners: @jekyll/documentation

Update history to reflect merge of #8504 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve maintainability of showcase data and page
  docs/_config.yml
  docs/_data/showcase.yml
  docs/pages/showcase.html
Owners: @jekyll/documentation

Correct offenses reported by RuboCop 1.6.0
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
Owners: @jekyll/build

Stash attribute hash for Liquid computed for pages (#8497)
  lib/jekyll/convertible.rb
Owners: @jekyll/build

Update history to reflect merge of #8497 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Format History entries for changes on HEAD
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: new homebrew script [skip ci]
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Remove redundant quotes around YAML value
  docs/_config.yml
Owners: @jekyll/documentation

Release: Jekyll 4.2.0 (#8466)
  History.markdown
  docs/_config.yml
  docs/_docs/history.md
  docs/_posts/2020-12-14-jekyll-4-2-0-released.markdown
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Jekyll 4 can be run on Ruby 2.4
  docs/_data/ruby.yml
Owners: @jekyll/documentation

typo - do instead of don't (#8518)
  docs/_docs/installation/windows.md
Owners: @jekyll/documentation

Update history to reflect merge of #8518 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Document support for TSV files consistently (#8488)
  docs/_docs/datafiles.md
Owners: @jekyll/documentation

Update history to reflect merge of #8488 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

`2020/12/31` is no longer a future date
  features/create_sites.feature
Owners: @jekyll/stability

Add a disclaimer to tutorials involving Ruby code (#8525)
  docs/_layouts/tutorials.html
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #8525 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Improve documentation on developing generators (#8527)
  docs/_docs/plugins/generators.md
Owners: @jekyll/documentation

Update history to reflect merge of #8527 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fixes typo in layouts_dir documentation (#8532)
  docs/_data/config_options/build.yml
Owners: @jekyll/documentation

Update history to reflect merge of #8532 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix i.e. typos in collections.md (#8529)
  docs/_docs/collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #8529 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: update guide
  docs/_docs/continuous-integration/github-actions.md
Owners: @jekyll/documentation

Add webrick as a dependency (#8524)
  .github/workflows/ci.yml
  jekyll.gemspec
  test/test_generated_site.rb
Owners: @jekyll/affinity-team-captains, @jekyll/stability

Update history to reflect merge of #8524 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

style: enable new cops (#8538)
  .rubocop.yml
  Gemfile
  benchmark/schwartzian_transform.rb
  test/helper.rb
  test/test_ansi.rb
  test/test_cleaner.rb
  test/test_collections.rb
  test/test_commands_serve.rb
  test/test_configuration.rb
  test/test_doctor_command.rb
  test/test_document.rb
  test/test_drop.rb
  test/test_entry_filter.rb
  test/test_excerpt.rb
  test/test_filters.rb
  test/test_front_matter_defaults.rb
  test/test_kramdown.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
  test/test_plugin_manager.rb
  test/test_regenerator.rb
  test/test_sass.rb
  test/test_site.rb
  test/test_site_drop.rb
  test/test_static_file.rb
Owners: @jekyll/stability
