Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #7263 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(release): reflect latest patched releases (#7262)
  History.markdown
  docs/_config.yml
  docs/latest_version.txt
  lib/jekyll/version.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #7262 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Linux, not Ubuntu
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

docs: install dependencies on Debian
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

docs: fix path to Ubuntu
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

environments.md: reference the build command options that allows multiple config files (#7266)
  docs/_docs/configuration/environments.md
Owners: @jekyll/documentation

Update history to reflect merge of #7266 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 10-deployment.md (#7268)
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Update history to reflect merge of #7268 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Ignore permission error of /proc/version (#7267)
  lib/jekyll/utils/platforms.rb
Owners: @jekyll/build

Update history to reflect merge of #7267 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Document two methods, simplify one of the methods (#7270)
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #7270 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add more issue template(s) and pull request template (#7269)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7269 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add issue template for documentation
  .github/ISSUE_TEMPLATE/documentation.md
Owners: @jekyll/affinity-team-captains

Use OpenSSL instead of GnuTLS (#7010)
  docs/_docs/continuous-integration/travis-ci.md
Owners: @jekyll/documentation

Update history to reflect merge of #7010 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Strip extra slashes via `Jekyll.sanitized_path` (#7182)
  lib/jekyll.rb
  test/test_path_sanitization.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7182 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix Contributors link (#7200)
  README.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7200 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

reorder doc change template
  .github/ISSUE_TEMPLATE/documentation.md
Owners: @jekyll/affinity-team-captains

Check key in collections only if it isn't "posts" (#7277)
  lib/jekyll/drops/site_drop.rb
Owners: @jekyll/build

Update history to reflect merge of #7277 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

update yajl-ruby (#7278)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7278 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Drop support for pygments as syntax-highlighter (#7118)
  Gemfile
  docs/_docs/liquid/tags.md
  docs/_tutorials/orderofinterpretation.md
  features/site_configuration.feature
  lib/jekyll/tags/highlight.rb
  test/test_tags.rb
Owners: @jekyll/stability, @jekyll/documentation, @jekyll/build

Update history to reflect merge of #7118 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Release Post for v3.6.3, v3.7.4 and v3.8.4 (#7259)
  docs/_posts/2018-09-19-security-fixes-for-3-6-3-7-3-8.markdown
Owners: @jekyll/documentation

Update history to reflect merge of #7259 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Typo
  docs/_posts/2018-09-19-security-fixes-for-3-6-3-7-3-8.markdown
Owners: @jekyll/documentation

Thanks @parkr 🙏
  docs/_posts/2018-09-19-security-fixes-for-3-6-3-7-3-8.markdown
Owners: @jekyll/documentation

Add latest version for sidebar
  docs/_posts/2018-09-19-security-fixes-for-3-6-3-7-3-8.markdown
Owners: @jekyll/documentation

tutorial/convert existing site.md/rss:add title tag to item (#7282)
  docs/_tutorials/convert-existing-site-to-jekyll.md
Owners: @jekyll/documentation

Update history to reflect merge of #7282 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: more inclusive writing (#7283)
  .github/CONTRIBUTING.markdown
  History.markdown
  docs/_docs/code_of_conduct.md
  docs/_docs/collections.md
  docs/_docs/configuration/front-matter-defaults.md
  docs/_docs/continuous-integration/circleci.md
  docs/_docs/continuous-integration/travis-ci.md
  docs/_docs/contributing.md
  docs/_docs/deployment/manual.md
  docs/_docs/deployment/third-party.md
  docs/_docs/front-matter.md
  docs/_docs/github-pages.md
  docs/_docs/history.md
  docs/_docs/includes.md
  docs/_docs/maintaining/affinity-team-captain.md
  docs/_docs/pages.md
  docs/_docs/plugins/filters.md
  docs/_docs/plugins/hooks.md
  docs/_docs/plugins/installation.md
  docs/_docs/posts.md
  docs/_docs/static_files.md
  docs/_docs/step-by-step/08-blogging.md
  docs/_docs/support.md
  docs/_docs/themes.md
  docs/_docs/troubleshooting.md
  docs/_docs/upgrading/0-to-2.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #7283 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add links to YAML cheatsheets
  lib/site_template/_config.yml
Owners: @jekyll/stability
