Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Remove default config for markdown (#7285)
  lib/site_template/_config.yml
Owners: @jekyll/stability

Update history to reflect merge of #7285 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Drop support for `jekyll-watch-1.4.0` and older (#7287)
  lib/jekyll/commands/build.rb
Owners: @jekyll/build

Update history to reflect merge of #7287 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Document converter methods (#7289)
  lib/jekyll/converters/identity.rb
  lib/jekyll/converters/markdown.rb
  lib/jekyll/converters/smartypants.rb
Owners: @jekyll/build

Update history to reflect merge of #7289 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Add link tag to item in RSS template (#7291)
  docs/_tutorials/convert-existing-site-to-jekyll.md
Owners: @jekyll/documentation

Update history to reflect merge of #7291 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cache converted markdown (#7159)
  lib/jekyll/converters/markdown.rb
  test/test_kramdown.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7159 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Cache converter in renderer (#7183)
  lib/jekyll/renderer.rb
Owners: @jekyll/build

Update history to reflect merge of #7183 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7108 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update History.markdown
  History.markdown
Owners: @jekyll/affinity-team-captains

chore(history): rendered includes are still WIP
  History.markdown
Owners: @jekyll/affinity-team-captains

Do not dump undumpable objects (#7190)
  lib/jekyll/cache.rb
Owners: none

Update history to reflect merge of #7190 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize rendering Liquid templates (#7136)
  docs/_docs/upgrading/3-to-4.md
  lib/jekyll/liquid_renderer.rb
  lib/jekyll/liquid_renderer/file.rb
  lib/jekyll/tags/include.rb
  lib/jekyll/tags/link.rb
Owners: @jekyll/documentation, @jekyll/build

Update history to reflect merge of #7136 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Automatically load _config.toml (#7299)
  docs/_docs/configuration.md
  lib/jekyll/configuration.rb
  test/test_configuration.rb
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #7299 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Isomer to showcase (#7300)
  docs/_data/showcase.yml
Owners: @jekyll/documentation

Update history to reflect merge of #7300 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added missing semicolon (#7306)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7306 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

"This restricts you..." to "This restricts your" (#7307)
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Update history to reflect merge of #7307 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update appveyor.yml (#7312)
  appveyor.yml
Owners: @jekyll/stability

Update history to reflect merge of #7312 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

feat: enhance --blank scaffolding (#7310)
  docs/_docs/usage.md
  features/create_sites.feature
  lib/blank_template/_config.yml
  lib/blank_template/_layouts/default.html
  lib/blank_template/_sass/main.scss
  lib/blank_template/assets/css/main.scss
  lib/blank_template/index.md
  lib/jekyll/commands/new.rb
  test/test_new_command.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #7310 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix typo in blank site template
  lib/blank_template/index.md
Owners: none

update my email in the sponsoring post
  docs/_posts/2018-08-01-jekyll-sponsoring.markdown
Owners: @jekyll/documentation

docs: update showcase [ci-skip]
  docs/_data/showcase.yml
Owners: @jekyll/documentation

docs: add a bit of delay before capture [ci-skip]
  docs/pages/showcase.html
Owners: @jekyll/documentation

docs: tweak capture delay [ci-skip]
  docs/pages/showcase.html
Owners: @jekyll/documentation

add tidelift to site sponsors
  docs/_data/sponsors.yml
  docs/img/tidelift-logo.png
Owners: @jekyll/documentation

add footer section for tidelift instead
  docs/_data/sponsors.yml
  docs/_includes/footer.html
Owners: @jekyll/documentation

add final newline
  docs/_data/sponsors.yml
Owners: @jekyll/documentation

Add a link to Giraffe Academy's tutorial (#7325)
  README.markdown
Owners: @jekyll/affinity-team-captains
