Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Update history to reflect merge of #8230 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update cucumber gem to version 4.1 (#8278)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8278 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Move permalink styles data to constant (#8282)
  lib/jekyll/configuration.rb
Owners: @jekyll/stability

Update history to reflect merge of #8282 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Formcake to forms section (#8283)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #8283 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop gem to 0.87.1 (#8287)
  .rubocop.yml
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #8287 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add a note on the rendering process in the docs (#8291)
  docs/_data/docs_nav.yml
  docs/_docs/rendering-process.md
Owners: @jekyll/documentation

Update history to reflect merge of #8291 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Replace nested conditional with guard clauses (#8294)
  .rubocop_todo.yml
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #8294 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update RuboCop to-do file (#8296)
  .rubocop_todo.yml
Owners: none

Update history to reflect merge of #8296 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add refactoring type to PULL_REQUEST_TEMPLATE (#8297)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8297 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Clarify relevance of data file basename [skip ci]
  docs/_docs/datafiles.md
Owners: @jekyll/documentation

Update default.html (#8305)
  lib/blank_template/_layouts/default.html
Owners: none

Update history to reflect merge of #8305 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add punctuation (#8306)
  docs/_docs/ruby-101.md
Owners: @jekyll/documentation

Update resources.md (#7864)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7864 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix IRB error "ubygems" (#8199) (#8312)
  Rakefile
Owners: none

Update history to reflect merge of #8312 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Extra apostrophes in an URL (#8319)
  docs/_docs/posts.md
Owners: @jekyll/documentation

Update history to reflect merge of #8319 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Clarify target of subordinate clause (#8320)
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update history to reflect merge of #8320 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix: W3C HTML5 Validator warning The type attribute is unnecessary for JavaScript resources.
  docs/_includes/search/script.html
Owners: @jekyll/documentation

Update history to reflect merge of #8323 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8325 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Jekyll 3.9.0 release post to main documentation
  History.markdown
  docs/_docs/history.md
  docs/_posts/2020-08-05-jekyll-3-9-0-released.markdown
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Stop testing on Windows via GitHub Actions
  .github/workflows/ci.yml
Owners: @jekyll/affinity-team-captains

Update test to reflect changes in the latest Rouge
  test/test_tags.rb
Owners: @jekyll/stability

Warn on command-line with permalink conflict (#8342)
  features/permalinks.feature
  lib/jekyll/site.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8342 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

rdiscount is not supported anymore
  docs/_docs/configuration/default.md
Owners: @jekyll/documentation

Docs for remove support for Redcarpet
  docs/_docs/configuration/default.md
  docs/_docs/configuration/markdown.md
Owners: @jekyll/documentation

Added docs for enhanced link tag
  docs/_docs/liquid/tags.md
Owners: @jekyll/documentation

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
