Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #6466 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Typo
  docs/_posts/2017-10-21-jekyll-3-6-2-released.markdown
Owners: @jekyll/documentation

Update first-timers-issue-template.md (#6472)
  .github/first-timers-issue-template.md
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #6472 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Site: Rename method (#6474)
  Rakefile
Owners: none

Update history to reflect merge of #6474 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Do not linkify escaped characters as PRs in History (#6468)
  Rakefile
  docs/_docs/history.md
Owners: @jekyll/documentation

Update history to reflect merge of #6468 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Site: Add default twitter card image (#6476)
  docs/_config.yml
  docs/img/twitter-card.png
Owners: @jekyll/documentation

Update history to reflect merge of #6476 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rely on jekyll-mentions for linking usernames (#6469)
  History.markdown
  Rakefile
  docs/_docs/history.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Update history to reflect merge of #6469 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add a note on `:jekyll_plugins` group in the docs (#6488)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #6488 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Docs: Avoid FUD (props @Parkr)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Updated custom-404-page.md (#6489)
  docs/_tutorials/custom-404-page.md
Owners: @jekyll/documentation

Update history to reflect merge of #6489 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update normalize.css to v7.0.0 (#6491)
  docs/_sass/_normalize.scss
Owners: @jekyll/documentation

Update history to reflect merge of #6491 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove `sudo` from macOS troubleshooting instructions (#6486)
  docs/_docs/troubleshooting.md
Owners: @jekyll/documentation

Update history to reflect merge of #6486 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

enable 'Lint/RescueWithoutErrorClass' Cop (#6482)
  .rubocop.yml
  Rakefile
  lib/jekyll/commands/doctor.rb
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  lib/jekyll/renderer.rb
  lib/jekyll/tags/include.rb
  lib/jekyll/tags/post_url.rb
Owners: @jekyll/build

Update history to reflect merge of #6482 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Raise when theme root directory is not available (#6455)
  lib/jekyll/theme.rb
  test/test_theme.rb
Owners: @jekyll/ecosystem, @jekyll/stability

Update history to reflect merge of #6455 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add formester to the list of saas form backend (#6059)
  docs/_docs/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #6059 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix a few minor issues in the docs (#6494)
  docs/_docs/continuous-integration/buddyworks.md
  docs/_docs/continuous-integration/circleci.md
  docs/_docs/deployment-methods.md
Owners: @jekyll/documentation

Update history to reflect merge of #6494 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added direct collection access to future collection item feature test (#6151)
  features/collections.feature
Owners: @jekyll/stability

Update history to reflect merge of #6151 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert "Added direct collection access to future collection item feature test (#6151)"
  features/collections.feature
Owners: @jekyll/stability

clean up Rubocop config (#6495)
  .rubocop.yml
Owners: none

Update history to reflect merge of #6495 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix #6498: Use Gem to discover the location of bundler. (#6499)
  lib/jekyll/commands/new.rb
Owners: @jekyll/build

Update history to reflect merge of #6499 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow plugins to modify the obsolete files. (#6502)
  lib/jekyll/cleaner.rb
  lib/jekyll/hooks.rb
Owners: @jekyll/build, @jekyll/ecosystem

Update history to reflect merge of #6502 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.sass-cache doesn't *always* land in options['source'] (#6500)
  lib/jekyll/commands/clean.rb
Owners: @jekyll/build

Update history to reflect merge of #6500 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
