Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #8458 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Enhance detection of conflicting destination URLs (#8459)
  features/permalinks.feature
  lib/jekyll/commands/doctor.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8459 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Generate items from `site.include` list only once (#8463)
  features/site_configuration.feature
  lib/jekyll/reader.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8463 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow triggering `:post_convert` events atomically (#8465)
  features/hooks.feature
  lib/jekyll/hooks.rb
Owners: @jekyll/stability, @jekyll/ecosystem

Update history to reflect merge of #8465 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Reduce allocations from rendering item as liquid (#8406)
  lib/jekyll/filters.rb
Owners: @jekyll/build

Update history to reflect merge of #8406 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Debug reading Page and Layout objects (#8100)
  lib/jekyll/convertible.rb
Owners: @jekyll/build

Update history to reflect merge of #8100 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Test that Liquid expressions are not deeply evaled (#8292)
  features/rendering.feature
Owners: @jekyll/stability

Update history to reflect merge of #8292 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Rendering arbitrary Liquid variables by default (#7414)
  features/rendering.feature
Owners: @jekyll/stability

Update history to reflect merge of #7414 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Don't reset site.url to localhost:4000 by default (#7253)
  lib/jekyll/commands/serve.rb
  test/test_commands_serve.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7253 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore: site generate
  .github/CONTRIBUTING.markdown
  docs/_docs/contributing.md
  docs/_docs/history.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Improve documentation on Hooks in Jekyll (#8467)
  docs/_docs/plugins/hooks.md
  docs/_sass/_style.scss
Owners: @jekyll/documentation

Update history to reflect merge of #8467 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Build docs site with GitHub Actions (#8201)
  .github/workflows/docs.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8201 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: Ruby 2.7.2
  docs/_data/ruby.yml
Owners: @jekyll/documentation

chore: cleanup 4.1.1 changelog
  History.markdown
Owners: @jekyll/affinity-team-captains

chore: rake site:generate
  History.markdown
  docs/_docs/history.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Do not exclude CNAME from site build
  docs/_config.yml
Owners: @jekyll/documentation

Explicitly return nil after site process phase (#8472)
  lib/jekyll/site.rb
  test/test_site.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8472 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add custom debug strings for Jekyll objects (#8473)
  lib/jekyll/layout.rb
  lib/jekyll/site.rb
Owners: @jekyll/build

Update history to reflect merge of #8473 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

style: fix rubocop 1.40 offense
  test/test_filters.rb
Owners: @jekyll/stability

style: append o option to regexp
  test/test_new_command.rb
Owners: @jekyll/stability

style: auo-gen-exclude
  .rubocop_todo.yml
Owners: none

Debug reading data files in a site (#8481)
  lib/jekyll/readers/data_reader.rb
Owners: @jekyll/build

Update history to reflect merge of #8481 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove version constraint on gem `tomlrb`
  Gemfile
Owners: @jekyll/stability

structure.md: add link to Assets page from `_sass` section (#8486)
  docs/_docs/structure.md
Owners: @jekyll/documentation

Update history to reflect merge of #8486 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Configure new cops
  .rubocop.yml
Owners: none

docs: Homebrew bash script
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation
