Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Update history to reflect merge of #7906 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Upgrade rake to use version 13. Solves #7900 (#7910)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7910 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update rubocop (#7893)
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7893 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use bash executable consistently (#7909)
  script/travis
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7909 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: macOS 10.15 comes with Ruby 2.6.3
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

docs: add short serve command for livereload (#7919)
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #7919 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: add options for watch and force polling (#7918)
  docs/_docs/configuration/options.md
Owners: @jekyll/documentation

Update history to reflect merge of #7918 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add install instructions for ArchLinux and openSUSE (#7920)
  docs/_docs/installation/other-linux.md
Owners: @jekyll/documentation

Update history to reflect merge of #7920 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update generators.md
  docs/_docs/plugins/generators.md
Owners: @jekyll/documentation

Improve index page of Jekyll documentation (#7926)
  docs/_docs/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #7926 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update index.md
  docs/_docs/index.md
Owners: @jekyll/documentation

docs: typo
  docs/_docs/plugins/generators.md
Owners: @jekyll/documentation

Include path in jekyll new commands (Usage docs) (#7931)
  docs/_docs/usage.md
Owners: @jekyll/documentation

Update history to reflect merge of #7931 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: explain PATH for new command
  docs/_docs/usage.md
Owners: @jekyll/documentation

Update item_property to recognize integers (#7878)
  lib/jekyll/filters.rb
  test/test_filters.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #7878 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 09-collections.md (#7937)
  docs/_docs/step-by-step/09-collections.md
Owners: @jekyll/documentation

Update history to reflect merge of #7937 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Changed deprecated command in themes documentation (#7941)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7941 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

ci: test with stable Ruby releases
  .travis.yml
Owners: @jekyll/stability

Test with JRuby 9.2.9.0 (#7779)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #7779 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @jekyll/affinity-team-captains

Adds some documentation for the :clean, :on_obsolete hook (#7954)
  docs/_docs/plugins/hooks.md
Owners: @jekyll/documentation

Update history to reflect merge of #7954 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: fix broken link (#7955)
  docs/_docs/github-pages.md
Owners: @jekyll/documentation

Update history to reflect merge of #7955 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.79.x (#7970)
  .rubocop.yml
  Gemfile
  lib/jekyll/excerpt.rb
  test/test_liquid_renderer.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7970 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove post-install message from gemspec (#7974)
  jekyll.gemspec
Owners: @jekyll/stability

Update history to reflect merge of #7974 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
