Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Adds Statictastic to the list of resources (#7593)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7593 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 07-assets.md (#7599)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7599 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix link space (#7600)
  docs/_docs/pagination.md
Owners: @jekyll/documentation

Update history to reflect merge of #7600 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Added Formspark to form resources (#7601)
  docs/pages/resources.md
Owners: @jekyll/documentation

Update history to reflect merge of #7601 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Simply couple of includes in the docs site (#7607)
  docs/_includes/docs_contents.html
  docs/_includes/docs_contents_mobile.html
  docs/_includes/step-index.html
Owners: @jekyll/documentation

Update history to reflect merge of #7607 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump tested version of JRuby to 9.2.7.0 (#7612)
  .travis.yml
  Gemfile
Owners: @jekyll/stability

Update history to reflect merge of #7612 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Avoid generating empty classnames (#7610)
  docs/_includes/mobile-nav-items.html
  docs/_includes/news_contents.html
  docs/_includes/primary-nav-items.html
  docs/_includes/tutorials_ul.html
Owners: @jekyll/documentation

Update history to reflect merge of #7610 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Generate a "TOTAL" row for build-profile table (#7614)
  lib/jekyll/liquid_renderer/table.rb
Owners: @jekyll/build

Update history to reflect merge of #7614 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Install Docs that Work on MacOS 10.14 (#7561)
  docs/_docs/installation/macos.md
Owners: @jekyll/documentation

Update history to reflect merge of #7561 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update the contribution docs for draft pull requests (#7619)
  .github/CONTRIBUTING.markdown
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #7619 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Revert "Refactor `highlight` tag to behave like the `raw` tag" (#7592)
  History.markdown
  docs/_docs/upgrading/3-to-4.md
  features/highlighting.feature
  jekyll.gemspec
  lib/jekyll/tags/highlight.rb
  test/test_tags.rb
Owners: @jekyll/affinity-team-captains, @jekyll/documentation, @jekyll/stability, @jekyll/build

Target Ruby 2.4 syntax in RuboCop scans (#7583)
  .rubocop.yml
  lib/jekyll/commands/serve/servlet.rb
  lib/jekyll/commands/serve/websockets.rb
  lib/jekyll/tags/include.rb
Owners: @jekyll/build

Update history to reflect merge of #7583 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.68.x (#7637)
  .rubocop.yml
  Gemfile
  lib/jekyll/configuration.rb
  test/helper.rb
Owners: @jekyll/stability

Update history to reflect merge of #7637 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix broken include_relative usage in excerpt (#7633)
  features/include_relative_tag.feature
  lib/jekyll/tags/include.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7633 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Refactor Jekyll::Cache (#7532)
  features/cache.feature
  lib/jekyll/cache.rb
  lib/jekyll/site.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7532 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Store list of expected extnames in a constant (#7638)
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
Owners: @jekyll/build

Update history to reflect merge of #7638 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Doc: Data file section adds TSV (#7640)
  docs/_docs/datafiles.md
Owners: @jekyll/documentation

Update history to reflect merge of #7640 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update 07-assets.md (#7644)
  docs/_docs/step-by-step/07-assets.md
Owners: @jekyll/documentation

Update history to reflect merge of #7644 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

add version tags to new placeholders (#5981) for permalinks (#7647)
  docs/_docs/permalinks.md
Owners: @jekyll/documentation

Update history to reflect merge of #7647 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Solve "GitHub Page build failure" in 10-deployment.md (#7648)
  docs/_docs/step-by-step/10-deployment.md
Owners: @jekyll/documentation

Update history to reflect merge of #7648 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

New open graph image
  docs/_config.yml
  docs/img/jekyll-og.png
Owners: @jekyll/documentation
