Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

Escape regex characters in paths to match (#8138)
  test/test_convertible.rb
Owners: @jekyll/stability

Update history to reflect merge of #8138 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use platforms instead of install_if (#8140)
  Gemfile
  lib/jekyll/commands/new.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8140 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Config include trailing slash (#8113)
  lib/jekyll/entry_filter.rb
  test/source/_glob_include_test/_is_dir/include_me.txt
  test/source/_glob_include_test/_not_dir
  test/test_entry_filter.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8113 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Clarify `bundle config` in Bundler tutorial (#8150)
  docs/_tutorials/using-jekyll-with-bundler.md
Owners: @jekyll/documentation

Update history to reflect merge of #8150 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Allow extensionless document in a strict site (#7950)
  features/collections.feature
  lib/jekyll/document.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7950 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Configure default language for syntax-highlighting (#8035)
  features/collections.feature
  lib/jekyll/converters/markdown/kramdown_parser.rb
  test/test_kramdown.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #8035 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Remove dev dependencies from new theme-gem gemspec (#8042)
  lib/theme_template/theme.gemspec.erb
Owners: @jekyll/stability

Update history to reflect merge of #8042 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: update your-first-plugin.md (#8147)
  docs/_docs/plugins/your-first-plugin.md
Owners: @jekyll/documentation

Update history to reflect merge of #8147 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: update resources
  docs/pages/resources.md
Owners: @jekyll/documentation

Allow disabling import of theme configuration (#8131)
  docs/_docs/configuration/options.md
  features/theme_configuration.feature
  lib/jekyll/site.rb
Owners: @jekyll/documentation, @jekyll/stability, @jekyll/build

Update history to reflect merge of #8131 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix typo (#8162)
  docs/_docs/continuous-integration/github-actions.md
Owners: @jekyll/documentation

Update history to reflect merge of #8162 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

docs: add french government websites props @MattiSG
  docs/_data/showcase.yml
Owners: @jekyll/documentation

chore: use native lazy loading and fixed img
  docs/pages/showcase.html
Owners: @jekyll/documentation

Improve path normalization in liquid_renderer (#8075)
  lib/jekyll/liquid_renderer.rb
  lib/jekyll/theme.rb
  test/test_liquid_renderer.rb
Owners: @jekyll/build, @jekyll/ecosystem, @jekyll/stability

Update history to reflect merge of #8075 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Release: v4.0.1 post (#8166)
  docs/_posts/2020-05-08-jekyll-4-0-1-released.markdown
  docs/latest_version.txt
Owners: @jekyll/documentation

chore(ci): cache dependencies (#8168)
  .github/workflows/ci.yml
Owners: @jekyll/affinity-team-captains

Update history to reflect merge of #8168 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

chore: set verion to 4.0.1
  docs/_config.yml
  lib/jekyll/version.rb
Owners: @jekyll/documentation, @jekyll/affinity-team-captains

Forward-port release history from stable branches
  History.markdown
  docs/_docs/history.md
Owners: @jekyll/affinity-team-captains, @jekyll/documentation

Use Ruby 2.6 on GitHub Actions
  .github/workflows/ci.yml
Owners: @jekyll/affinity-team-captains

Site: Filter through just the docs collection (#8170)
  docs/_includes/docs_contents.html
  docs/_includes/docs_contents_mobile.html
Owners: @jekyll/documentation

Update history to reflect merge of #8170 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Provide invokables for common drop query keys (#8165)
  lib/jekyll/drops/document_drop.rb
  lib/jekyll/drops/page_drop.rb
Owners: @jekyll/build

Update history to reflect merge of #8165 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Optimize path sanitization of default front matter (#8154)
  lib/jekyll/frontmatter_defaults.rb
Owners: @jekyll/stability

Update history to reflect merge of #8154 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Bump RuboCop to v0.83.x
  .rubocop.yml
  Gemfile
  lib/jekyll/entry_filter.rb
  lib/jekyll/readers/collection_reader.rb
  lib/jekyll/readers/data_reader.rb
  lib/jekyll/readers/layout_reader.rb
  lib/jekyll/readers/page_reader.rb
  lib/jekyll/readers/post_reader.rb
  lib/jekyll/readers/static_file_reader.rb
  lib/jekyll/readers/theme_assets_reader.rb
  lib/jekyll/theme.rb
Owners: @jekyll/stability, @jekyll/build, @jekyll/ecosystem

Switch slugify regex to support more Unicode character groups (#8167)
  lib/jekyll/utils.rb
  test/test_utils.rb
Owners: @jekyll/build, @jekyll/stability

Update history to reflect merge of #8167 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains
