Repository favdev111/icomoon-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jekyll/documentation, @jekyll/build, @jekyll/ecosystem, @jekyll/stability, @jekyll/affinity-team-captains

.github/CODEOWNERS:

# The Jekyll project has 6 affinity teams, shown here: https://teams.jekyllrb.com/
# They are as follows:
#
#   1. @jekyll/build
#   2. @jekyll/documentation
#   3. @jekyll/ecosystem
#   4. @jekyll/performance
#   5. @jekyll/stability
#   6. @jekyll/windows
#
# Each of these teams has a mission. Wherever possible, GitHub should
# automatically require review from these teams on the pieces of the
# repository they maintain.

# @jekyll/documentation
/docs/                               @jekyll/documentation

# @jekyll/build
/exe/                                @jekyll/build
/lib/jekyll.rb                       @jekyll/build
/lib/jekyll/cleaner.rb               @jekyll/build
/lib/jekyll/collection.rb            @jekyll/build
/lib/jekyll/command.rb               @jekyll/build
/lib/jekyll/commands/                @jekyll/build
/lib/jekyll/converter.rb             @jekyll/build
/lib/jekyll/converters/              @jekyll/build
/lib/jekyll/convertible.rb           @jekyll/build
/lib/jekyll/document.rb              @jekyll/build
/lib/jekyll/drops/                   @jekyll/build
/lib/jekyll/entry_filter.rb          @jekyll/build
/lib/jekyll/errors.rb                @jekyll/build
/lib/jekyll/excerpt.rb               @jekyll/build
/lib/jekyll/filters/                 @jekyll/build
/lib/jekyll/filters.rb               @jekyll/build
/lib/jekyll/layout.rb                @jekyll/build
/lib/jekyll/liquid_extensions.rb     @jekyll/build
/lib/jekyll/liquid_renderer/         @jekyll/build
/lib/jekyll/liquid_renderer.rb       @jekyll/build
/lib/jekyll/log_adapter.rb           @jekyll/build
/lib/jekyll/mime.types               @jekyll/build
/lib/jekyll/page.rb                  @jekyll/build
/lib/jekyll/publisher.rb             @jekyll/build
/lib/jekyll/reader.rb                @jekyll/build
/lib/jekyll/readers/                 @jekyll/build
/lib/jekyll/regenerator.rb           @jekyll/build
/lib/jekyll/related_posts.rb         @jekyll/build
/lib/jekyll/renderer.rb              @jekyll/build
/lib/jekyll/site.rb                  @jekyll/build
/lib/jekyll/static_file.rb           @jekyll/build
/lib/jekyll/stevenson.rb             @jekyll/build
/lib/jekyll/tags/                    @jekyll/build
/lib/jekyll/url.rb                   @jekyll/build
/lib/jekyll/utils/                   @jekyll/build
/lib/jekyll/utils.rb                 @jekyll/build

# @jekyll/ecosystem
/lib/jekyll/external.rb              @jekyll/ecosystem
/lib/jekyll/generator.rb             @jekyll/ecosystem
/lib/jekyll/hooks.rb                 @jekyll/ecosystem
/lib/jekyll/plugin.rb                @jekyll/ecosystem
/lib/jekyll/plugin_manager.rb        @jekyll/ecosystem
/lib/jekyll/theme.rb                 @jekyll/ecosystem
/lib/jekyll/theme_builder.rb         @jekyll/ecosystem

# @jekyll/stability
Gemfile                              @jekyll/stability
*.gemspec                            @jekyll/stability
.travis.yml                          @jekyll/stability
appveyor.yml                         @jekyll/stability
/lib/jekyll/configuration.rb         @jekyll/stability
/lib/jekyll/deprecator.rb            @jekyll/stability
/lib/jekyll/frontmatter_defaults.rb  @jekyll/stability
/lib/site_template                   @jekyll/stability
/lib/theme_template                  @jekyll/stability
/features/                           @jekyll/stability
/test/                               @jekyll/stability

# Special cases
.github/                             @jekyll/affinity-team-captains
CODE_OF_CONDUCT.markdown             @jekyll/affinity-team-captains
History.markdown                     @jekyll/affinity-team-captains
LICENSE                              @jekyll/affinity-team-captains   # This file should never change.
README.markdown                      @jekyll/affinity-team-captains
/lib/jekyll/version.rb               @jekyll/affinity-team-captains
/rake/                               @jekyll/affinity-team-captains
/script/                             @jekyll/affinity-team-captains

Fix tests to have "expected value" as the first argument passed to `assert_equal` (#7104)
  test/test_document.rb
  test/test_excerpt_drop.rb
  test/test_filters.rb
  test/test_front_matter_defaults.rb
  test/test_page_without_a_file.rb
Owners: @jekyll/stability

add jekyll-xml-source (#7114)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7114 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix #7082 Add call to unused method (#7122)
  lib/jekyll/commands/serve.rb
Owners: @jekyll/build

Update history to reflect merge of #7122 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add the jekyll-firstimage filter plugin (#7127)
  docs/_docs/plugins.md
Owners: @jekyll/documentation

Update history to reflect merge of #7127 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use .markdown for page templates (#7126)
  docs/_docs/themes.md
  lib/site_template/about.markdown
  lib/site_template/index.markdown
  test/test_new_command.rb
Owners: @jekyll/documentation, @jekyll/stability

Update history to reflect merge of #7126 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Use a real theme in the example (#7125)
  docs/_docs/themes.md
Owners: @jekyll/documentation

Update history to reflect merge of #7125 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix Rubocop offences in test files (#7128)
  .rubocop.yml
  test/helper.rb
  test/test_coffeescript.rb
  test/test_collections.rb
  test/test_command.rb
  test/test_commands_serve.rb
  test/test_configuration.rb
  test/test_convertible.rb
  test/test_doctor_command.rb
  test/test_document.rb
  test/test_drop.rb
  test/test_entry_filter.rb
  test/test_excerpt.rb
  test/test_filters.rb
  test/test_front_matter_defaults.rb
  test/test_generated_site.rb
  test/test_kramdown.rb
  test/test_layout_reader.rb
  test/test_liquid_extensions.rb
  test/test_page.rb
  test/test_page_without_a_file.rb
  test/test_plugin_manager.rb
  test/test_regenerator.rb
  test/test_related_posts.rb
  test/test_sass.rb
  test/test_site.rb
  test/test_site_drop.rb
  test/test_static_file.rb
  test/test_tags.rb
  test/test_utils.rb
Owners: @jekyll/stability

Update history to reflect merge of #7128 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Fix custom 404 page for GitHub pages (#7132)
  lib/site_template/404.html
Owners: @jekyll/stability

Update history to reflect merge of #7132 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Disable Liquid via front matter (#6824)
  features/post_data.feature
  lib/jekyll/convertible.rb
  lib/jekyll/document.rb
  test/fixtures/no_liquid.erb
  test/test_convertible.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #6824 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix up refute_equal call (#7133)
  test/test_collections.rb
Owners: @jekyll/stability

Update history to reflect merge of #7133 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

fix incorrectly passed arguments to assert_equal (#7134)
  test/test_ansi.rb
  test/test_collections.rb
  test/test_commands_serve.rb
  test/test_configuration.rb
  test/test_kramdown.rb
  test/test_liquid_extensions.rb
  test/test_regenerator.rb
Owners: @jekyll/stability

Update history to reflect merge of #7134 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update docs about post creation (#7138)
  lib/site_template/_posts/0000-00-00-welcome-to-jekyll.markdown.erb
Owners: @jekyll/stability

Update history to reflect merge of #7138 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add DEV Community's Jekyll tag to community page
  docs/help/index.md
Owners: @jekyll/documentation

Add DEV Community's Jekyll tag to community page (#7139)
  docs/help/index.md
Owners: @jekyll/documentation

Update history to reflect merge of #7139 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Add Dev.to website link
  docs/help/index.md
Owners: @jekyll/documentation

Initialize upgrading doc for v4.0 (#7140)
  docs/_docs/upgrading/3-to-4.md
Owners: @jekyll/documentation

Update history to reflect merge of #7140 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Update README.markdown
  README.markdown
Owners: @jekyll/affinity-team-captains

add blank newline
  docs/_data/sponsors.yml
Owners: @jekyll/documentation

add intentions to post; change title
  docs/_posts/2018-06-26-jekyll-sponsoring.markdown
Owners: @jekyll/documentation

update with suggestions
  docs/_posts/2018-06-26-jekyll-sponsoring.markdown
Owners: @jekyll/documentation

Lock Travis to Bundler-1.16.2 (#7144)
  .travis.yml
Owners: @jekyll/stability

Update history to reflect merge of #7144 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Do not process Liquid in post excerpt when disabled in front matter (#7146)
  features/post_excerpts.feature
  lib/jekyll/excerpt.rb
Owners: @jekyll/stability, @jekyll/build

Update history to reflect merge of #7146 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains

Name some of our Travis builds
  .travis.yml
Owners: @jekyll/stability

Add version badge for date filters with ordinal (#7162)
  docs/_docs/templates.md
Owners: @jekyll/documentation

Update history to reflect merge of #7162 [ci skip]
  History.markdown
Owners: @jekyll/affinity-team-captains
